# Foundry VTT Server Configuration
# Available server options
SYSTEM_NAME="pirateborg"

FOUNDRY_USER="me"

# NOTE: Standard .env files do NOT support shell case statements or conditional logic!
# Instead, define all possible options here, and set FOUNDRY_VERSION to indicate which set to use in your scripts.
# Any logic (if/case) must be implemented in your application, not in the env file.

# Choose the Foundry version to use (e.g. 12, 13, or 14)
FOUNDRY_VERSION=14

FOUNDRY12_HOST="localhost"
FOUNDRY12="${FOUNDRY_USER}@${FOUNDRY12_HOST}"
FOUNDRY12_PATH="foundry12data/Data/systems/${SYSTEM_NAME}"
FOUNDRY12_DATA_DIR="foundry12data/Data"

FOUNDRY13_HOST="localhost"
FOUNDRY13="${FOUNDRY_USER}@${FOUNDRY13_HOST}"
FOUNDRY13_PATH="foundry13data/Data/systems/${SYSTEM_NAME}"
FOUNDRY13_DATA_DIR="foundry13data/Data"

FOUNDRY14_HOST="localhost"
FOUNDRY14="${FOUNDRY_USER}@${FOUNDRY14_HOST}"
FOUNDRY14_PATH="foundry14data/Data/systems/${SYSTEM_NAME}"
FOUNDRY14_DATA_DIR="foundry14data/Data"


FOUNDRY_API_PORT=30000
FOUNDRY_API_STATUS_ENDPOINT="http://${FOUNDRY_HTTP_HOST}:${FOUNDRY_API_PORT}/api/status"
FOUNDRY_BACKUP_ROOT=".foundry-backups"

FOUNDRY_HOST=${FOUNDRY14}
FOUNDRY_DATA_DIR=${FOUNDRY14_DATA_DIR}
FOUNDRY_INSTALL_PATH=${FOUNDRY14_PATH}
FOUNDRY_HTTP_HOST=${FOUNDRY14_HOST}
FOUNDRY_REMOTE_SSH=${FOUNDRY14}
FOUNDRY_REMOTE_DATA_DIR=${FOUNDRY_DATA_DIR}

GITHUB_TOKEN=ghp_XXX

WORKTREE_BASE_DIR="../"
