# Foundry VTT Server Configuration
# Available server options
SYSTEM_NAME="pirateborg"

FOUNDRY12="me@localhost"
FOUNDRY12_PATH="foundry12data/Data/systems/${SYSTEM_NAME}"

FOUNDRY13="me@localhost"
FOUNDRY13_PATH="foundry13data/Data/systems/${SYSTEM_NAME}"

FOUNDRY_HOST=${FOUNDRY13}
FOUNDRY_INSTALL_PATH=${FOUNDRY13_PATH}

GITHUB_TOKEN=ghp_XXX
