<section id="allowed-character-generator-classes-form" class="custom-dialog allowed-character-generator-classes-dialog">

  <div class="custom-dialog-header">
    <div class="subtitle">{{localize "PB.AllowedCharacterGeneratorClassesSelect"}}</div>
  </div>

  <div class="section">
    <ul>
      {{#each classes as |class|}}
      <li>
        <label>
          <input name="{{class.name}}" type="checkbox" class="class-checkbox" {{#if class.checked }}checked{{/if}} />
          <div class="class-name">{{class.label}}</div>
        </label>
      </li>
      {{/each}}
    </ul>
    <p>&nbsp;</p>
    <div>
      <a data-action="toggleNone">{{localize "PB.CharacterGeneratorToggleNone"}}</a>
      &nbsp; / &nbsp;
      <a data-action="toggleAll">{{localize "PB.CharacterGeneratorToggleAll"}}</a>
    </div>
  </div>
  <div class="button-row">
    <button type="button" class="button cancel-button" data-action="cancel">{{localize "PB.Cancel"}}</button>
    <button type="submit" class="button ok-button">{{localize "PB.Ok"}}</button>
  </div>
</section>
