<form id="character-generator-form" class="custom-dialog character-generator-dialog flexcol">
  
  <div class="custom-dialog-header">
    <div class="subtitle">{{localize "PB.CharacterGeneratorChooseFromClasses"}}</div>
    {{#if forActor}}
      <div class="description warning">
        <p>{{localize "PB.CharacterGeneratorWarning"}}</p>
      </div>
    {{/if}}
  </div>
  
  <div class="section flexcol">
    <div class="class-groups scrollable">
    {{#each this.classGroups as |group|}}
      <div class="module-group" data-module="{{group.moduleId}}">
        <h3 class="module-header collapsible">
          <i class="fas {{#if group.isOpen}}fa-chevron-down{{else}}fa-chevron-right{{/if}}"></i>
          <span>{{group.name}}</span>
        </h3>
        <div class="module-classes" {{#unless group.isOpen}}style="display: none;"{{/unless}}>
          <ul>
            {{#each group.classes as |cls|}}
              <li>
                <label>
                  <input name="{{cls.pack}}" type="checkbox" class="class-checkbox" {{#if cls.checked }}checked{{/if}} />
                  <div class="class-name">{{cls.name}} {{#if cls.requireBaseClass }}*{{/if}}</div>
                </label>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
    </div>
    <hr>
    <div class="class-options">
      <p>
        <a class="toggle-none"><i class="fa fa-square"></i> {{localize "PB.CharacterGeneratorToggleNone"}}</a>&nbsp;
        /
        &nbsp;<a class="toggle-all"><i class="fa fa-check-square"></i> {{localize "PB.CharacterGeneratorToggleAll"}}</a>
      </p>
      <p>{{localize "PB.CharacterGeneratorWarningBaseClass"}}</p>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="button-row">
    <button type="submit" class="button cancel-button" name="cancel" value="1">{{localize "PB.Cancel"}}</button>
    <button type="submit" class="button character-generator-button" name="character-generator" value="1">{{localize "PB.CharacterGeneratorMakeCharacter"}}</button>
  </div>
</form>
