<form id="character-generator-form" class="custom-dialog character-generator-dialog">
  
  <div class="custom-dialog-header">
    <div class="subtitle">{{localize "PB.CharacterGeneratorChooseFromClasses"}}</div>
    {{#if forActor}}
      <div class="description warning">
        <p>{{localize "PB.CharacterGeneratorWarning"}}</p>
      </div>
    {{/if}}
  </div>
  
  <div class="section">

    <ul>
      {{#each this.classes}}
        <li>
          <label>
            <input name="{{this.pack}}" type="checkbox" class="class-checkbox" {{#if this.checked }}checked{{/if}} />
            <div class="class-name">{{this.name}} {{#if this.requireBaseClass }}*{{/if}}</div>
          </label>
        </li>
      {{/each}}
    </ul>
    <div><a class="toggle-none">{{localize "PB.CharacterGeneratorToggleNone"}}</a>&nbsp; / &nbsp;<a class="toggle-all">{{localize "PB.CharacterGeneratorToggleAll"}}</a></div>
    <p>{{localize "PB.CharacterGeneratorWarningBaseClass"}}</p>
  </div>

  <div class="button-row">
    <button type="submit" class="button cancel-button" name="cancel" value="1">{{localize "PB.Cancel"}}</button>
    <button type="submit" class="button character-generator-button" name="character-generator" value="1">{{localize "PB.CharacterGeneratorMakeCharacter"}}</button>
  </div>
</form>
