<form id="help-dialog" class="flexcol">
  <header class="sheet-header flexrow">
    <img src="/systems/pirateborg/ui/pirate-borg.png" />
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="about">About</a>
    <a class="item" data-tab="help">Help</a>
    <span class="spacer"></span>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="about">
      <div class="section">
        <p>
          A scurvy ridden, rules light, art heavy RPG based on Mörk Borg. Inspired by history, fantasy, horror, and rum. Your cutlass & flintlock won't save you
          from hordes of skeletons and ghost ships...
        </p>
        <div class="buttons-row">
          <a href="https://www.limithron.com/pirateborg">PIRATE BORG Website</a>
        </div>
      </div>

      <div class="section">
        <h4>Patreon</h4>
        <p>Become a Patron today and get instant access to hundreds of maps & assets, thousands of tokens, and 5e content & adventures.</p>
        <div class="buttons-row">
          <a href="https://www.patreon.com/limithron">Limithron Patreon</a>
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="help">
      <div class="section">
        <p>
          This is an implementation of the PIRATE BORG rules, with limited adaptations to make things work in Foundry VTT. There are compendiums covering all
          the classes and items, described in the PIRATE BORG book.
        </p>
        <div class="buttons-row">
          <a href="https://github.com/Limithron-Foundry-VTT/pirate-borg-system/blob/main/how-to-use-this-system.md">How to use this system</a>
        </div>
      </div>

      <div class="section">
        <h4>Release Notes</h4>
        <div class="buttons-row">
          <a href="https://github.com/Limithron-Foundry-VTT/pirate-borg-system/blob/main/CHANGELOG.md">Release Notes</a>
        </div>
      </div>

      <div class="section">
        <h4>Questions? Suggestions? Bugs?</h4>
        <div class="buttons-row">
          <a href="https://github.com/Limithron-Foundry-VTT/pirate-borg-system/issues">File an issue</a>
          <a href="https://discord.gg/ZbGPQ34XWU">Discord</a>
        </div>
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="release-notes">
      <ol class="items-list">
        <li class="items-header flexrow">
          <h4 class="item-name">v0.29</h4>
        </li>
        <ul class="version-notes">
          <li>Add Tall Tale class</li>
          <li>Bug fixes</li>
        </ul>
      </ol>
    </div>
  </section>
</form>
