<form id="help-dialog" class="flexcol" xmlns="http://www.w3.org/1999/html">
  <header class="sheet-header flexrow">
    <img src="/systems/pirateborg/ui/pirate-borg.png" />
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="about">About</a>
    <a class="item" data-tab="help">Help</a>
    {{#if isGM}}
      <a class="item" data-tab="modules">Recommended Modules</a>
    {{/if}}
    <span class="spacer"></span>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="about">
      <div class="section">
        <p>
          A scurvy ridden, rules light, art heavy RPG based on Mörk Borg. Inspired by history, fantasy, horror, and rum. Your cutlass & flintlock won't save you
          from hordes of skeletons and ghost ships...
        </p>
        <div class="buttons-row">
          <a href="https://www.pirateb.org/">PIRATE BORG Website</a>
        </div>
      </div>

      {{#unless pbModuleEnabled}}
      <div class="section">
        <h4>Premium Content</h4>
        {{#unless pbModuleInstalled}}
        <p>
          The PIRATE BORG system provides you with everything you need to be able to play. Save yourself some data-entry time and get a copy of the PIRATE BORG
          premium module, it's bursting with ships!
        </p>
        <div class="buttons-row">
          <a disabled>Coming Soon</a>
        </div>
        {{else}}
        <p>The module "{{pbModuleName}}" is available to your world, but not yet enabled.</p>
        <div class="buttons-row">
          <a id="help-dialog-enable-premium">Enable Premium Module</a>
        </div>
        {{/unless}}
      </div>
      {{/unless}}

      <div class="section">
        <h4>Patreon</h4>
        <p>Become a Patron today and get instant access to hundreds of maps & assets, thousands of tokens, and 5e content & adventures.</p>
        <div class="buttons-row">
          <a href="https://www.patreon.com/limithron">Limithron Patreon</a>
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="help">
      <div class="section">
        <p>
          This is an implementation of the PIRATE BORG rules, with limited adaptations to make things work in Foundry VTT. There are compendiums covering all
          the classes and items, described in the PIRATE BORG book.
        </p>
        <div class="buttons-row">
          <a href="https://github.com/Limithron-Foundry-VTT/pirate-borg-system/blob/main/how-to-use-this-system.md">How to use this system</a>
        </div>
      </div>

      <div class="section">
        <h4>Release Notes - {{version}}</h4>
        <div class="buttons-row">
          <a href="https://github.com/Limithron-Foundry-VTT/pirate-borg-system/blob/main/CHANGELOG.md">Release Notes</a>
        </div>
      </div>

      <div class="section">
        <h4>Questions? Suggestions? Bugs?</h4>
        <div class="buttons-row">
          <a href="https://github.com/Limithron-Foundry-VTT/pirate-borg-system/issues">File an issue</a>
          <a href="https://discord.gg/ZbGPQ34XWU">Discord</a>
        </div>
      </div>
    </div>

    {{#*inline "module"}}
      {{#each modules as |module| }}
      <div class="module">
        <p>
          <strong>{{module.name}}</strong> (<span class="module-info">{{#if module.installed}}Installed{{else}}<span class="warning">Not Installed</span>{{/if}} & {{#if module.active}}Enabled{{else}}<span class="warning">Disabled</span>{{/if}}</span>)
          <br />
          {{module.description}} <a href="{{module.url}}">More info</a>
        </p>
      </div>
      {{/each}}
    {{/inline}}

    <div class="tab" data-group="primary" data-tab="modules">
      <div class="section modules">
        <h4>Highly Recommended</h4>
        {{#> module modules=modules.highlyRecommended }}{{/module}}
      </div>
      <div class="section modules">
        <h4>Must Have</h4>
        {{#> module modules=modules.mustHave }}{{/module}}
      </div>
      <div class="section modules">
        <h4>Recommended</h4>
        {{#> module modules=modules.recommended }}{{/module}}
      </div>
    </div>
  </section>
</form>
