<div class="dialog-fields">
    <div class="quick-effect">
        <div>
            <label>Label</label>
            <div class="form-fields">
                <input type="text" class="label" name="label" value="{{label}}">
            </div>
        </div>

        <div>
            <label>Change</label>
            <select class="key" name="key">
                <option value="">-</option>
                <optgroup label="Abilities">
                    <option value="system.abilities.strength.value">{{localize "PB.AbilityStrength"}}</option>
                    <option value="system.abilities.agility.value">{{localize "PB.AbilityAgility"}}</option>
                    <option value="system.abilities.presence.value">{{localize "PB.AbilityPresence"}}</option>
                    <option value="system.abilities.toughness.value">{{localize "PB.AbilityToughness"}}</option>
                    <option value="system.abilities.spirit.value">{{localize "PB.AbilitySpirit"}}</option>
                    <option value="system.abilities.skill.value">{{localize "PB.AbilitySkill"}}</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label>Modifier</label>
            <div class="form-fields">
                <input type="number" class="modifier" name="modifier" value="0">
            </div>
        </div>
    </div>
</div>