<div class="dialog-fields">
  <div class="quick-effect">
    <div>
      <label for="quick-effect-label">{{ localize "PB.Label" }}</label>
      <div class="form-fields">
        <input type="text" id="quick-effect-label" class="label" name="label" value="{{label}}">
      </div>
    </div>

    <div>
      <label for="quick-effect-key">{{ localize "PB.Change" }}</label>
      <select class="key" id="quick-effect-key" name="key">
        <option value="">-</option>
        <optgroup label="{{ localize 'PB.Abilities' }}">
          <option value="system.abilities.strength.value">{{localize "PB.AbilityStrength"}}</option>
          <option value="system.abilities.agility.value">{{localize "PB.AbilityAgility"}}</option>
          <option value="system.abilities.presence.value">{{localize "PB.AbilityPresence"}}</option>
          <option value="system.abilities.toughness.value">{{localize "PB.AbilityToughness"}}</option>
          <option value="system.abilities.spirit.value">{{localize "PB.AbilitySpirit"}}</option>
          <option value="system.abilities.skill.value">{{localize "PB.AbilitySkill"}}</option>
        </optgroup>
        <optgroup label="{{ localize 'PB.Combat' }}">
          <option value="system.attributes.combat.attackModifier">{{localize "PB.AttackBonus"}}</option>
          <option value="system.attributes.combat.defenseModifier">{{localize "PB.DefenseBonus"}}</option>
          <option value="system.attributes.combat.initiativeModifier">{{localize "PB.InitiativeBonus"}}</option>
          <option value="system.attributes.combat.damageModifier">{{localize "PB.DamageBonus"}}</option>
          <option value="system.attributes.combat.armorTierModifier">{{localize "PB.ArmorTierBonus"}}</option>
          <option value="system.attributes.combat.speedModifier">{{localize "PB.SpeedBonus"}}</option>
          <option value="system.attributes.combat.luckDieModifier">{{localize "PB.LuckDieBonus"}}</option>
          <option value="system.attributes.combat.drModifier">{{localize "PB.DRBonus"}}</option>
        </optgroup>
        <optgroup label="{{ localize 'PB.Attributes' }}">
          <option value="system.attributes.hp.max">{{localize "PB.HitPointsMax"}}</option>
          <option value="system.attributes.hp.value">{{localize "PB.HitPointsCurrent"}}</option>
          <option value="system.attributes.luck.value">{{localize "PB.LuckCurrent"}}</option>
          <option value="system.attributes.luck.modifier">{{localize "PB.LuckModifier"}}</option>
          <option value="system.attributes.rituals.max">{{localize "PB.RitualsMax"}}</option>
          <option value="system.attributes.rituals.value">{{localize "PB.RitualsCurrent"}}</option>
          <option value="system.attributes.extraResource.max">{{localize "PB.ExtraResourceMax"}}</option>
          <option value="system.attributes.extraResource.value">{{localize "PB.ExtraResourceCurrent"}}</option>
          <option value="system.attributes.carryingModifier.value">{{localize "PB.CarryingModifier"}}</option>
          <option value="system.silver">{{localize "PB.Silver"}}</option>
        </optgroup>
        <optgroup label="{{ localize 'PB.CreatureAttributes' }}">
          <option value="system.attributes.speed.max">{{localize "PB.SpeedMax"}}</option>
          <option value="system.attributes.speed.value">{{localize "PB.SpeedCurrent"}}</option>
          <option value="system.attributes.morale">{{localize "PB.Morale"}}</option>
        </optgroup>
        <optgroup label="{{ localize 'PB.VehicleAttributes' }}">
          <option value="system.attributes.cargo.max">{{localize "PB.CargoMax"}}</option>
          <option value="system.attributes.cargo.value">{{localize "PB.CargoCurrent"}}</option>
          <option value="system.attributes.crew.max">{{localize "PB.CrewMax"}}</option>
          <option value="system.attributes.crew.value">{{localize "PB.CrewCurrent"}}</option>
          <option value="system.attributes.hull.max">{{localize "PB.HullMax"}}</option>
          <option value="system.attributes.hull.value">{{localize "PB.HullCurrent"}}</option>
          <option value="system.attributes.shanties.max">{{localize "PB.ShantiesMax"}}</option>
          <option value="system.attributes.shanties.value">{{localize "PB.ShantiesCurrent"}}</option>
        </optgroup>
      </select>
    </div>

    <div>
      <label for="quick-effect-modifier">{{ localize "PB.Modifier" }}</label>
      <div class="form-fields">
        <input type="number" class="modifier" id="quick-effect-modifier" name="modifier" value="0">
      </div>
    </div>

    {{#if isTemporary}}
    <div>
      <label for="quick-effect-duration">{{ localize "PB.EffectsDuration" }} ({{ localize "PB.Rounds" }})</label>
      <div class="form-fields">
        <input type="number" class="duration" id="quick-effect-duration" name="duration" value="1" min="1">
      </div>
    </div>
    {{/if}}
  </div>
</div>