<form id="rest-form" class="custom-dialog rest-dialog">
  <div class="section">
    <div class="subtitle">{{localize "PB.RestDialogLength"}}</div>
    <div>
      <ul>
        <li>
          <label
            ><input name="rest-length" type="radio" value="short" checked />
            <div>{{localize "PB.RestDialogLengthShort"}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="rest-length" type="radio" value="long" />
            <div>{{localize "PB.RestDialogLengthLong"}}</div></label
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="section">
    <div class="subtitle">{{localize "PB.RestDialogFoodAndDrink"}}</div>
    <div>
      <ul>
        <li>
          <label
            ><input name="food-and-drink" type="radio" value="eat" checked />
            <div>{{localize "PB.RestDialogEat"}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="radio" value="donteat" />
            <div>{{localize "PB.RestDialogDontEat"}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="radio" value="starve" />
            <div>{{localize "PB.RestDialogStarve"}}</div></label
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="section">
    <div class="subtitle">{{localize "PB.Infection"}}</div>
    <div>
      <ul>
        <li>
          <label
            ><input name="infected" type="checkbox" />
            <div>{{localize "PB.RestDialogInfected"}}</div></label
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="button-row">
    <button type="submit" class="button rest-button" name="rest" value="1">{{localize "PB.Rest"}}</button>
  </div>
</form>
