<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-col1">
      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
      />
    </div>
    <div class="header-col2">
      <div class="name-row">
        <input
          class="actor-name"
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{ localize 'PB.Name' }}"
          spellcheck="false"
        />
      </div>
      {{!-- we are cheating a bit here, using the 'item' class usually used on
      LI elements, so we can get the item _id to be found by the common click
      handler --}}
      <div class="classname-row item" data-item-id="{{data.data.class._id}}">
        <label class="classname item-edit rollable"
          >{{data.data.class.name}}</label
        >
      </div>
      <div class="hitpoints-row">
        <span class="stat-label">{{ localize "PB.HP" }}</span>
        <div class="hp-entries">
          <input
            class="stat-input"
            name="data.hp.value"
            type="number"
            value="{{data.data.hp.value}}"
            data-dtype="Number"
          />
          <span>/</span>
          <input
            class="stat-input"
            name="data.hp.max"
            type="number"
            value="{{data.data.hp.max}}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="luck-row">
        <span
        class="stat-label luck-label"
        title="{{ localize 'PB.LuckHelpText' }}"
        >{{ localize "PB.Luck" }}</span
      >        
        <input
          class="stat-input"
          name="data.luck.value"
          type="number"
          value="{{data.data.luck.value}}"
          data-dtype="Number"
        />
        <span class="rule-text luck-rule rollable">({{data.data.class.data.luckDie}} {{ localize "PB.PerRest"}})</span>
      </div>
      <div class="rest-buttons">
        <button
          type="button"
          class="button item-button broken-button rollable"
          title="{{localize 'PB.Broken'}}"
        >
          {{localize 'PB.Broken'}}
        </button>
        <button
          type="button"
          class="button item-button rest-button rollable"
          title="{{localize 'PB.Rest'}}"
        >
          {{localize 'PB.Rest'}}
        </button>
        <button
          type="button"
          class="button item-button get-better-button rollable"
          title="{{localize 'PB.GetBetter'}}"
        >
          {{localize 'PB.GetBetter'}}
        </button>        
      </div>
    </div>
    <div class="header-col3">
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="data.abilities.strength.value"
          value="{{numberFormat data.data.abilities.strength.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable strength"
          >{{ localize 'PB.AbilityStrength' }}</span
        >
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="data.abilities.agility.value"
          value="{{numberFormat data.data.abilities.agility.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable agility"
          >{{ localize 'PB.AbilityAgility' }}</span
        >
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="data.abilities.presence.value"
          value="{{numberFormat data.data.abilities.presence.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable presence"
          >{{ localize 'PB.AbilityPresence' }}</span
        >
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="data.abilities.toughness.value"
          value="{{numberFormat data.data.abilities.toughness.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable toughness"
          >{{ localize 'PB.AbilityToughness' }}</span
        >
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="data.abilities.spirit.value"
          value="{{numberFormat data.data.abilities.spirit.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable spirit"
          >{{ localize 'PB.AbilitySpirit' }}</span
        >
      </div>      
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="combat">{{ localize 'PB.TabCombat' }}</a>
    <a class="item" data-tab="powers">{{ localize 'PB.Powers' }}</a>    
    <a class="item" data-tab="equipment">{{ localize 'PB.TabEquipment' }}</a>    
    <a class="item" data-tab="features">{{ localize 'PB.TabFeatures' }}</a>
    <a class="item" data-tab="history">{{ localize 'PB.TabHistory' }}</a>    
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- History Tab --}}
    <div class="tab class-tab" data-group="primary" data-tab="history">
      {{editor content=data.data.description target="data.description"
      button=true owner=owner editable=true}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat-tab" data-group="primary" data-tab="combat">

      {{!-- Initiative buttons --}}
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">
            {{localize "PB.Initiative"}}
          </h3>
        </li>
        <ol class="item-list">
          <li class="item flexrow">
            <h4 class="item-name item-edit rollable"></h4>
            <div class="item-buttons">
              <button type="button" class="button item-button rollable initiative-button party-initiative-button" title="{{localize 'PB.Party'}}">
                {{localize "PB.Party"}}
              </button>
            </div>
            <div class="item-buttons">
              <button type="button" class="button item-button rollable initiative-button individual-initiative-button" title="{{localize 'PB.Individual'}}">
                {{localize "PB.Individual"}}
              </button>
            </div>
          </li>
          </ol>
      </ol>

      {{!-- Weapons --}}
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">
            {{localize "PB.ItemTypeWeaponPlural"}}
          </h3>
        </li>
        <ol class="item-list weapon-list">
          {{#each data.data.equippedWeapons as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <img
              src="{{item.img}}"
              title="{{item.name}}"
              width="24"
              height="24"
            />
            <div class="weapon-name-col">
              <h4 class="item-name item-edit rollable">{{item.name}}</h4>
              {{#if ../data.data.trackAmmo}} {{#if item.data.usesAmmo}}
              <div class="ammo-select-col">
                <select
                  class="ammo-select"
                  name="selectedAmmo-{{item._id}}"
                  data-dtype="Number"
                  data-item-id="{{item._id}}"
                >
                  {{#select item.data.ammoId}}
                  <option value="">{{localize 'PB.ItemTypeAmmo'}}</option>
                  {{#each ../data.data.ammo as |ammo ammoId|}}
                  <option value="{{ammo._id}}">
                    {{ammo.name}} ({{ammo.data.quantity}})
                  </option>
                  {{/each}} {{/select}}
                </select>
              </div>
              {{/if}} {{/if}}
            </div>
            <div class="item-fields">
              <span class="item-field damage-die">{{item.data.damageDie}}</span>
              <span class="item-field weapon-type"
                >{{item.data.weaponType}}</span
              >
            </div>
            <div class="item-buttons">
              <button
                type="button"
                class="item-button rollable attack-button button"
                data-roll="d20+@abilities.strength.value"
                data-label="attack_{{item._id}}"
                title="{{localize 'PB.Attack'}}"
              >
                {{localize 'PB.Attack'}}
              </button>
            </div>
            <div class="item-controls">
              <a
                class="item-control item-toggle item-toggle-equipped {{ifPrint item.data.equipped 'equipped'}}"
                title="{{ifPrintElse item.data.equipped (localize 'PB.ItemEquipped') (localize 'PB.ItemUnequipped')}}"
                ><i class="fas fa-shield-alt"></i
              ></a>
              <a class="item-control item-edit" title="Edit Item"
                ><i class="fas fa-edit"></i
              ></a>
              <a class="item-control item-delete" title="Delete Item"
                ><i class="fas fa-trash"></i
              ></a>
            </div>
          </li>
          {{/each}}
          {{#unless data.data.equippedWeapons.length}}
          <li class="item flexrow empty-container">
            <div class="rule-text you-have-no">
              {{localize 'PB.EquipAWeaponToAttack'}}
            </div>
          </li>
          {{/unless}}          
        </ol>
      </ol>
      <ol class="items-list inventory-list">
        {{!-- Armor --}}
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">
            {{localize "PB.ItemTypeArmorPlural"}}
          </h3>
        </li>
        <ol class="item-list armor-list">
          {{#if data.data.equippedArmor}}
          <li class="item flexrow" data-item-id="{{data.data.equippedArmor._id}}">
            <img src="{{data.data.equippedArmor.img}}" title="{{data.equippedArmor.name}}" width="24" height="24"/>
            <h4 class="item-name item-edit rollable">
              {{data.data.equippedArmor.name}}
            </h4>
            <div class="item-armor-tier">
              <label class="stat-label tier-label">{{ localize "PB.Tier" }}</label>
              <ul class="tiers">
                <li>
                  <label
                    ><input class="tier-radio" type="radio"
                    name="tier.value" value="0" {{#ifEq
                    data.data.equippedArmor.data.tier.value
                    0}}checked{{/ifEq}}/><span class="tier-num">0</span
                    ><span class="tier-dmg">-0</span></label>
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio"
                    name="tier.value" value="1" {{#ifEq
                    data.data.equippedArmor.data.tier.value
                    1}}checked{{/ifEq}}/><span class="tier-num">1</span
                    ><span class="tier-dmg">-d2</span></label
                  >
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio"
                    name="tier.value" value="2" {{#ifEq
                    data.data.equippedArmor.data.tier.value
                    2}}checked{{/ifEq}} {{#ifLt
                    data.data.equippedArmor.data.tier.max
                    2}}disabled="true"{{/ifLt}}/><span class="tier-num"
                      >2</span
                    ><span class="tier-dmg">-d4</span></label
                  >
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio"
                    name="tier.value" value="3" {{#ifEq
                    data.data.equippedArmor.data.tier.value
                    3}}checked{{/ifEq}} {{#ifLt
                    data.data.equippedArmor.data.tier.max
                    3}}disabled="true"{{/ifLt}}/><span class="tier-num"
                      >3</span
                    ><span class="tier-dmg">-d6</span></label
                  >
                </li>
              </ul>
            </div>
            <div class="item-controls">
              <a
                class="item-control item-toggle item-toggle-equipped {{ifPrint data.data.equippedArmor.data.equipped 'equipped'}}"
                title="{{ifPrintElse data.data.equippedArmor.data.equipped (localize 'PB.ItemEquipped') (localize 'PB.ItemUnequipped')}}"
                ><i class="fas fa-shield-alt"></i
              ></a>
              <a class="item-control item-edit" title="Edit Item"
                ><i class="fas fa-edit"></i
              ></a>
              <a class="item-control item-delete" title="Delete Item"
                ><i class="fas fa-trash"></i
              ></a>
            </div>
          </li>
          {{/if}} {{#if data.data.equippedHat}}
          <li
            class="item flexrow"
            data-item-id="{{data.data.equippedHat._id}}"
          >
            <img
              src="{{data.data.equippedHat.img}}"
              title="{{data.data.equippedHat.name}}"
              width="24"
              height="24"
            />
            <h4 class="item-name item-edit rollable">
              {{data.data.equippedHat.name}}
            </h4>
            <div class="item-hat-rule">
              <span class="rule-text hat-rule"
                > {{data.data.equippedHat.data.ruleText}}</span
              >
            </div>
            <div class="item-controls">
              <a
                class="item-control item-toggle item-toggle-equipped {{ifPrint data.data.equippedHat.data.equipped 'equipped'}}"
                title="{{ifPrintElse data.data.equippedHat.data.equipped (localize 'PB.ItemEquipped') (localize 'PB.ItemUnequipped')}}"
                ><i class="fas fa-shield-alt"></i
              ></a>
              <a class="item-control item-edit" title="Edit Item"
                ><i class="fas fa-edit"></i
              ></a>
              <a class="item-control item-delete" title="Delete Item"
                ><i class="fas fa-trash"></i
              ></a>
            </div>
          </li>
          {{/if}} {{#unless data.data.equippedArmor }} {{#unless
          data.data.equippedHat}}
          <li class="item flexrow empty-container">
            <div class="rule-text you-have-no">{{localize 'PB.EquipArmorToAbsorb'}}</div>
          </li>
          {{/unless}} {{/unless}}
      </ol>

      <div class="underarmor-row">
        <div class="incoming-attack">
          <div>
            <button
              type="button"
              class="item-button rollable defend-button button"
              title="{{localize 'PB.Defend'}}"
            >
              {{localize "PB.Defend"}}
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Features Tab --}}
    <div class="tab specials-tab" data-group="primary" data-tab="features">     
      
      {{#if data.data.class.data.useExtraResource}}
        <div class="powers-top-row">     
          <div class="uses-remaining">
            <label class="stat-label uses-remaining-label">{{ data.data.class.data.extraResourceNamePlural }}</label>
            <input
              class="stat-input"
              name="data.extraResourceUses.value"
              type="number"
              value="{{data.data.extraResourceUses.value}}"
              data-dtype="Number"
            />
            <span class="rule-text rollable extra-resources-per-day-text">{{ data.data.class.data.extraResourceFormulaLabel }}</span>
          </div>
        </div>          
      {{/if}}

      {{#each data.data.features as |item id|}}      
      
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">
            {{item.type}}
          </h3>
        </li>
        <ol class="item-list">
          {{#each item.items as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
          <img
            src="{{item.img}}"
            title="{{item.name}}"
            width="24"
            height="24"
          />
          <h4 class="item-name item-edit rollable">{{item.name}}</h4>
          <div class="item-buttons">
            {{> "systems/pirateborg/templates/actor/common/actor-item-button.html" item=item}}
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"
              ><i class="fas fa-edit"></i
            ></a>
            <a class="item-control item-delete" title="Delete Item"
              ><i class="fas fa-trash"></i
            ></a>
          </div>
          </li>
          {{/each}}
        </ol>
      </ol>
      {{/each}}
      {{#unless data.data.features.length}}
      <ol class="items-list inventory-list">
        <ol class="item-list weapon-list">
          <li class="item flexrow empty-container">
            <div class="rule-text you-have-no">{{localize 'PB.YouHaveNoFeatures'}}</div>
          </li>
        </ol>
      </ol>
      {{/unless}}      
    </div>

    {{!-- Powers Tab --}}
    <div class="tab powers-tab" data-group="primary" data-tab="powers">

      <div class="powers-top-row">       
        <div class="uses-remaining">
          <label class="stat-label uses-remaining-label">{{localize "PB.RitualRemaining"}}</label>
          <input
            class="stat-input"
            name="data.powerUses.value"
            type="number"
            value="{{data.data.powerUses.value}}"
            data-dtype="Number"
          />
          <span class="rule-text rollable ritual-per-day-text">{{localize "PB.RitualPerday"}}</span>
        </div>
      </div>

      {{#each data.data.invokables as |group|}}
        <ol class="items-list inventory-list">
          <li class="items-header flexrow">
            <h3 class="item-name flexrow">{{ group.type }}</h3>
            <div class="item-controls flexrow"></div>
          </li>     
          <ol class="item-list">               
            {{#each group.items as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                <img
                  src="{{item.img}}"
                  title="{{item.name}}"
                  width="24"
                  height="24"
                />
                <h4 class="item-name item-edit rollable">{{item.name}}</h4>
                <div class="item-buttons">
                  {{> "systems/pirateborg/templates/actor/common/actor-item-button.html" item=item}}
                </div>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <a class="item-control item-delete" title="Delete Item"
                    ><i class="fas fa-trash"></i
                  ></a>
                </div>
              </li>
            {{/each}}
          </ol>         
        </ol>               
        {{/each}}

        {{#unless data.data.invokables.length}}
        <ol class="items-list inventory-list"></ol>
          <ol class="item-list weapon-list">
            <li class="item flexrow empty-container">
              <div class="rule-text you-have-no">{{localize 'PB.YouHaveNoUsableItems'}}</div>
            </li>
          </ol>
        </ol>
        {{/unless}}

    </div>

    {{!-- Equipment Tab --}}
    <div class="tab equipment-tab" data-group="primary" data-tab="equipment">
      <div class="equipment-top-row">
        <div class="silver">
          <span class="stat-label silver-label"
            >{{ localize "PB.Silver" }}</span
          >
          <input
            class="stat-input silver-input"
            name="data.silver"
            type="number"
            value="{{data.data.silver}}"
            data-dtype="Number"
          />
        </div>
        <div class="carry-block">
          <div class="carry-block-carrying">
            <span class="stat-label">{{ localize "PB.Carrying" }}</span>
            <span class="stat-value">{{data.data.carryingWeight}}</span> 
            <span>/</span> 
            <span class="stat-value">{{data.data.carryingCapacity}}</span>
          </div>
          <div class="rule-text {{ifPrint data.data.encumbered 'encumbered'}}">
              {{#if data.data.trackCarryingCapacity}} {{localize
              'PB.CarryingRule'}} {{else}} {{localize
              'PB.CarryingRuleNoPenalty'}} {{/if}}
          </div>
        </div>
      </div>
      <ol class="items-list equipment-list">
        {{>
        "systems/pirateborg/templates/actor/common/actor-equipment-list.html"}}
      </ol>
    </div>
  </section>
</form>
