<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-col1">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>
    <div class="header-col2">

      <div class="header-title-row">
        <input class="actor-name" name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'PB.Name' }}" spellcheck="false" />
      </div>

      <div class="header-subtitle-row">
        <div class="actor-type">
          <span class="rollable item-class">{{data.system.dynamic.class.name}}</span>         
          {{#if data.system.dynamic.baseClass }}
          - <span class="rollable item-base-class">{{data.system.dynamic.baseClass.name}}</span>
          {{/if}}
        </div>
      </div>

      <div class="header-stats-row">
        <div class="stats-block">
          <span class="stat-label">{{ localize "PB.HP" }}</span>
          <input class="stat-input" name="system.attributes.hp.value" type="number" value="{{data.system.attributes.hp.value}}" data-dtype="Number" />
          <span class="stat-separator">/</span>
          <input class="stat-input" name="system.attributes.hp.max" type="number" value="{{data.system.attributes.hp.max}}" data-dtype="Number" />
        </div>
      </div>
      
      <div class="header-stats-row">
        <div class="stats-block">
          <span class="stat-label luck-label rollable">{{ localize "PB.Luck" }}</span>
          <input class="stat-input" name="system.attributes.luck.value" type="number" value="{{data.system.attributes.luck.value}}" data-dtype="Number" />
          <span class="stat-rule luck-rule rollable">({{data.system.dynamic.luckDie}} {{ localize "PB.PerRest"}})</span>
          {{#if data.system.attributes.luck.modifier}}
            <span class="luck-modifier">{{#if (gt data.system.attributes.luck.modifier 0)}}+{{/if}}{{data.system.attributes.luck.modifier}} {{localize "PB.Modifier"}}</span>
          {{/if}}
        </div>        
      </div>

      {{#if data.system.dynamic.grogEnabled}}
      {{!-- Grog Status with inline Drink button --}}
      <div class="header-stats-row grog-status-row">
        <div class="stats-block grog-block">
          <span class="stat-label grog-label">{{ localize "PB.GrogDrinks" }}</span>
          <input class="stat-input grog-drinks-input" name="system.attributes.grog.drinks" type="number" value="{{data.system.attributes.grog.drinks}}" data-dtype="Number" min="0" />
          <button type="button" class="button drink-grog-button rollable" title="{{ localize 'PB.GrogDrinkButton' }}" {{#unless data.system.dynamic.hasDrink}}disabled{{/unless}}>{{ localize "PB.GrogDrink" }}{{#if data.system.dynamic.hasDrink}} ({{data.system.dynamic.drinkCount}}){{/if}}</button>
        </div>
      </div>
      {{/if}}

      <div class="header-buttons-row">
        <button type="button" class="button item-button broken-button rollable" title="{{localize 'PB.Broken'}}">{{localize 'PB.Broken'}}</button>
        <button type="button" class="button item-button rest-button rollable" title="{{localize 'PB.Rest'}}">{{localize 'PB.Rest'}}</button>
        <button type="button" class="button item-button get-better-button rollable" title="{{localize 'PB.GetBetter'}}">{{localize 'PB.GetBetter'}}</button>
      </div>
    </div>

    <div class="header-col3">
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="system.abilities.strength.value"
          value="{{numberFormat data.system.abilities.strength.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable strength" title="{{ localize 'PB.AbilityStrengthDescription' }}">{{ localize 'PB.AbilityStrength' }}</span>
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="system.abilities.agility.value"
          value="{{numberFormat data.system.abilities.agility.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable agility" title="{{ localize 'PB.AbilityAgilityDescription' }}">{{ localize 'PB.AbilityAgility' }}</span>
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="system.abilities.presence.value"
          value="{{numberFormat data.system.abilities.presence.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable presence" title="{{ localize 'PB.AbilityPresenceDescription' }}">{{ localize 'PB.AbilityPresence' }}</span>
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="system.abilities.toughness.value"
          value="{{numberFormat data.system.abilities.toughness.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable toughness" title="{{ localize 'PB.AbilityToughnessDescription' }}">{{ localize 'PB.AbilityToughness' }}</span>
      </div>
      <div class="ability-row">
        <input
          class="ability-input"
          type="text"
          name="system.abilities.spirit.value"
          value="{{numberFormat data.system.abilities.spirit.value decimals=0 sign=true}}"
          data-dtype="Number"
          size="3"
        />
        <span class="ability-label rollable spirit" title="{{ localize 'PB.AbilitySpiritDescription' }}">{{ localize 'PB.AbilitySpirit' }}</span>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="combat">{{ localize 'PB.TabCombat' }}</a>
    <a class="item" data-tab="powers">{{ localize 'PB.Powers' }}</a>
    <a class="item" data-tab="equipment">{{ localize 'PB.TabEquipment' }}</a>
    <a class="item" data-tab="features">{{ localize 'PB.TabFeatures' }}</a>
    <a class="item" data-tab="history">{{ localize 'PB.TabHistory' }}</a>
    <a class="item" data-tab="effects">{{ localize 'PB.TabEffects' }}</a>
    <span class="spacer"></span>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- History Tab --}}
    <div class="tab class-tab" data-group="primary" data-tab="history">
      {{editor descriptionHTML target="system.description" button=true owner=owner editable=true}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat-tab" data-group="primary" data-tab="combat">
      {{!-- Initiative buttons --}}
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">{{localize "PB.Initiative"}}</h3>
        </li>
        <ol class="item-list">
          <li class="item flexrow">
            <h4 class="item-name item-edit rollable"></h4>
            <div class="item-buttons">
              <button type="button" class="button item-button rollable initiative-button party-initiative-button" title="{{localize 'PB.Party'}}">
                {{localize "PB.Party"}}
              </button>
            </div>
            <div class="item-buttons">
              <button type="button" class="button item-button rollable initiative-button individual-initiative-button" title="{{localize 'PB.Individual'}}">
                {{localize "PB.Individual"}}
              </button>
            </div>
          </li>
        </ol>
      </ol>

      {{!-- Weapons --}}
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">{{localize "PB.ItemTypeWeaponPlural"}}</h3>
        </li>
        <ol class="item-list weapon-list">
          {{#each data.system.dynamic.equippedWeapons as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <div class="weapon-name-col">
              <h4 class="item-name item-edit rollable">{{item.name}}</h4>
              {{#if ../data.system.dynamic.trackAmmo}} {{#if item.system.usesAmmo}}
              <div class="ammo-select-col">                
                <select class="ammo-select" name="selectedAmmo-{{item._id}}" data-dtype="Number" data-item-id="{{item._id}}">
                  <option value="">{{localize 'PB.SelectAmmo'}}</option>
                  {{selectOptions ../data.system.dynamic.ammo selected=item.system.ammoId nameAttr="_id" valueAttr="_id" labelAttr="fullName"}}
                </select>
              </div>
              {{/if}} {{/if}}
            </div>
            <div class="item-fields">
              <span class="item-field damage-die">{{item.system.damageDie}}</span>
              <span class="item-field weapon-type">{{item.system.weaponType}}</span>
            </div>
            <div class="item-buttons">
              {{#if item.system.loadingCount}}
              <button
                      type="button"
                      class="item-button reload-button button"
                      data-label="reload_{{item._id}}"
                      title="{{localize 'PB.Attack'}}"
              >
                {{localize 'PB.Reload'}} {{#if item.system.reloadTime}}({{item.system.loadingStatus}}/{{item.system.reloadTime}}){{/if}}
              </button>
              {{else}}
              <button
                      type="button"
                      class="item-button rollable attack-button button"
                      data-roll="d20+@abilities.strength.value"
                      data-label="attack_{{item._id}}"
                      title="{{localize 'PB.Attack'}}"
              >
                {{localize 'PB.Attack'}}
              </button>
              {{/if}}
            </div>
            <div class="item-controls">
              <a
                class="item-control item-toggle item-toggle-equipped {{ifPrint item.system.equipped 'equipped'}}"
                title="{{ifPrintElse item.system.equipped (localize 'PB.ItemEquipped') (localize 'PB.ItemUnequipped')}}"
                ><i class="fas fa-fist-raised"></i
              ></a>
              <a class="item-control item-delete" title="{{localize 'PB.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}} {{#unless data.system.dynamic.equippedWeapons.length}}
          <li class="item flexrow empty-container">
            <div class="rule-text you-have-no">{{localize 'PB.EquipAWeaponToAttack'}}</div>
          </li>
          {{/unless}}
        </ol>
      </ol>

      {{!-- Armor --}}
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">{{localize "PB.ItemTypeArmorPlural"}}</h3>
        </li>
        <ol class="item-list armor-list">
          {{#if data.system.dynamic.equippedArmor}}
          <li class="item flexrow" data-item-id="{{data.system.dynamic.equippedArmor._id}}">
            <img src="{{data.system.dynamic.equippedArmor.img}}" title="{{data.dynamic.equippedArmor.name}}" width="24" height="24" />
            <h4 class="item-name item-edit rollable">{{data.system.dynamic.equippedArmor.name}}</h4>
            <div class="item-armor-tier">
              <label class="stat-label tier-label">{{ localize "PB.Tier" }}</label>
              <ul class="tiers">
                <li>
                  <label>
                    <input class="tier-radio" type="radio" name="tier.value" value="0" {{#ifEq data.system.dynamic.equippedArmor.system.tier.value 0}}checked{{/ifEq}} />
                    <span class="tier-num">0</span>
                    <span class="tier-dmg">-0</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input class="tier-radio" type="radio" name="tier.value" value="1" {{#ifLt data.system.dynamic.equippedArmor.system.tier.max 1}}disabled{{/ifLt}} {{#ifEq data.system.dynamic.equippedArmor.system.tier.value 1}}checked{{/ifEq}} />
                    <span class="tier-num">1</span>
                    <span class="tier-dmg">-d2</span>
                  </label>
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio" name="tier.value" value="2" {{#ifLt data.system.dynamic.equippedArmor.system.tier.max 2}}disabled{{/ifLt}} {{#ifEq data.system.dynamic.equippedArmor.system.tier.value 2}}checked{{/ifEq}} />
                    <span class="tier-num">2</span>
                    <span class="tier-dmg">-d4</span>
                  </label>
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio" name="tier.value" value="3" {{#ifLt data.system.dynamic.equippedArmor.system.tier.max 3}}disabled{{/ifLt}} {{#ifEq data.system.dynamic.equippedArmor.system.tier.value 3}}checked{{/ifEq}} />
                    <span class="tier-num">3</span>
                    <span class="tier-dmg">-d6</span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="item-controls">
              <a
                class="item-control item-toggle item-toggle-equipped {{ifPrint data.system.dynamic.equippedArmor.system.equipped 'equipped'}}"
                title="{{ifPrintElse data.system.dynamic.equippedArmor.system.equipped (localize 'PB.ItemEquipped') (localize 'PB.ItemUnequipped')}}"
                ><i class="fas fa-fist-raised"></i
              ></a>
              <a class="item-control item-delete" title="{{localize 'PB.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/if}} 
          {{#if data.system.dynamic.equippedHat}}
          <li class="item flexrow" data-item-id="{{data.system.dynamic.equippedHat._id}}">
            <img src="{{data.system.dynamic.equippedHat.img}}" title="{{data.system.dynamic.equippedHat.name}}" width="24" height="24" />
            <h4 class="item-name item-edit rollable">{{data.system.dynamic.equippedHat.name}}</h4>
            <div class="item-hat-rule">
              <span class="rule-text hat-rule"> {{data.system.dynamic.equippedHat.system.ruleText}}</span>
            </div>
            <div class="item-controls">
              <a
                class="item-control item-toggle item-toggle-equipped {{ifPrint data.system.dynamic.equippedHat.system.equipped 'equipped'}}"
                title="{{ifPrintElse data.system.dynamic.equippedHat.system.equipped (localize 'PB.ItemEquipped') (localize 'PB.ItemUnequipped')}}"
                ><i class="fas fa-fist-raised"></i
              ></a>
              <a class="item-control item-delete" title="{{localize 'PB.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/if}} 
          {{#unless data.system.dynamic.equippedArmor }} 
            {{#unless data.system.dynamic.equippedHat}}
              <li class="item flexrow empty-container">
                <div class="rule-text you-have-no">{{localize 'PB.EquipArmorToAbsorb'}}</div>
              </li>
            {{/unless}}
          {{/unless}}
        </ol>
      </ol>

      <div class="underarmor-row">
        <div class="incoming-attack">
          <div>
            <button type="button" class="item-button rollable defend-button button" title="{{localize 'PB.Defend'}}">{{localize "PB.Defend"}}</button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Features Tab --}}
    <div class="tab specials-tab" data-group="primary" data-tab="features">
      {{#if data.system.dynamic.useExtraResource}}
      <div class="powers-top-row">
        <div class="stats-block">
          <label class="stat-label uses-remaining-label">{{ data.system.dynamic.extraResourceNamePlural }}</label>
          <input class="stat-input" name="system.attributes.extraResource.value" type="number" value="{{data.system.attributes.extraResource.value}}" data-dtype="Number" />
          <span class="stat-rule rollable extra-resources-per-day-text">{{ data.system.dynamic.extraResourceFormulaLabel }}</span>
        </div>
      </div>
      {{/if}} 
      {{#each data.system.dynamic.features as |item id|}}
        <ol class="items-list inventory-list">
          <li class="items-header flexrow">
            <h3 class="item-name flexrow">{{item.type}}</h3>
          </li>
          <ol class="item-list">
            {{#each item.items as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <h4 class="item-name item-edit rollable">{{item.name}} {{#ifGt item.system.quantity 1}} ({{item.system.quantity}}) {{/ifGt}}</h4>
              <div class="item-buttons">{{> "systems/pirateborg/templates/actor/common/actor-item-button.html" item=item}}</div>
              <div class="item-controls">
                <a class="item-control item-delete" title="{{localize 'PB.ItemDelete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </ol>
      {{/each}} 
      {{#unless data.system.dynamic.features.length}}
        <ol class="items-list inventory-list">
          <ol class="item-list weapon-list">
            <li class="item flexrow empty-container">
              <div class="rule-text you-have-no">{{localize 'PB.YouHaveNoFeatures'}}</div>
            </li>
          </ol>
        </ol>
      {{/unless}}

      <div class="stats-bottom-row">
        <div class="stats-block">
          <label class="stat-label">{{ localize "PB.ItemCharacterSpeedMax" }}</label>
          <input type="text" name="system.attributes.speed.max" value="{{#if data.system.attributes.combat.speedModifier}}{{effectiveSpeed}}{{else}}{{data.system.attributes.speed.max}}{{/if}}" placeholder="6" data-dtype="Number" />
          {{#if data.system.attributes.combat.speedModifier}}
            <span class="speed-formula">
              ({{data.system.attributes.speed.max}}{{#if (gt data.system.attributes.combat.speedModifier 0)}}+{{/if}}{{data.system.attributes.combat.speedModifier}})
            </span>
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- Powers Tab --}}
    <div class="tab powers-tab" data-group="primary" data-tab="powers">
      <div class="powers-top-row">
        <div class="stats-block">
          <label class="stat-label uses-remaining-label">{{localize "PB.RitualRemaining"}}</label>
          <input class="stat-input" name="system.attributes.rituals.value" type="number" value="{{data.system.attributes.rituals.value}}" data-dtype="Number" />
          <span class="stat-rule rollable ritual-per-day-text">{{localize "PB.RitualPerday"}}</span>
        </div>
      </div>

      {{#each data.system.dynamic.invokables as |group|}}
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">{{ group.type }}</h3>
          <div class="item-controls flexrow"></div>
        </li>
        <ol class="item-list">
          {{#each group.items as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <h4 class="item-name item-edit rollable">{{item.name}}</h4>
            <div class="item-buttons">{{> "systems/pirateborg/templates/actor/common/actor-item-button.html" item=item}}</div>
            <div class="item-controls">
              <a class="item-control item-delete" title="{{localize 'PB.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ol>
      </ol>
      {{/each}} {{#unless data.system.dynamic.invokables.length}}
      <ol class="items-list inventory-list">
        <ol class="item-list weapon-list">
          <li class="item flexrow empty-container">
            <div class="rule-text you-have-no">{{localize 'PB.YouHaveNoUsableItems'}}</div>
          </li>
        </ol>
      </ol>
      {{/unless}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab equipment-tab" data-group="primary" data-tab="equipment">
      <div class="equipment-top-row">
        <div class="stats-block">
          <span class="stat-label silver-label">{{ localize "PB.Silver" }}</span>
          <input class="stat-input silver-input" name="system.silver" type="number" value="{{data.system.silver}}" data-dtype="Number" />
        </div>
        <div class="carry-block">
          <div class="stats-block">
            <span class="stat-label">{{ localize "PB.Carrying" }}</span>
            <span class="stat-value">{{data.system.dynamic.carryingWeight}}</span>
            <span class="stat-separator">/</span>
            <span class="stat-value">{{data.system.dynamic.carryingCapacity}}</span>
          </div>
          <div class="stat-rule {{ifPrint data.system.dynamic.encumbered 'encumbered'}}">
            {{#if data.system.dynamic.trackCarryingCapacity}} {{localize 'PB.CarryingRule'}} {{else}} {{localize 'PB.CarryingRuleNoPenalty'}} {{/if}}
          </div>
        </div>
      </div>
      <ol class="items-list equipment-list">
        {{> "systems/pirateborg/templates/actor/common/actor-equipment-list.html"}}
      </ol>

      {{!-- Drinks Section --}}
      {{#if data.system.dynamic.grogEnabled}}
      <ol class="items-list drinks-list">
        <li class="items-header flexrow">
          <h4 class="item-name">{{ localize "PB.Drinks" }}</h4>
        </li>
        <ol class="item-list">
          {{#each data.system.dynamic.drinks as |item id|}}
          <li class="item flexrow item-type-drink" data-item-id="{{item._id}}">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <h4 class="item-name item-edit rollable">{{item.name}} ({{item.system.quantity}})</h4>
            <div class="item-controls">
              <a class="item-control item-qty-plus" title="Add Quantity">
                <i class="fas fa-plus"></i>
              </a>
              <a class="item-control item-qty-minus" title="Subtract Quantity">
                <i class="fas fa-minus"></i>
              </a>
              <a class="item-control item-delete" title="{{localize 'PB.ItemDelete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{else}}
          <li class="item flexrow empty-container">
            <div class="rule-text">{{ localize "PB.NoDrinks" }}</div>
          </li>
          {{/each}}
        </ol>
      </ol>
      {{/if}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> systems/pirateborg/templates/actor/common/effects.html}}
    </div>
  </section>
</form>
