<form class="{{cssClass}} flexcol" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header flexrow">
    <div class="header-col1">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>
    <div class="header-col2">
      <div class="header-title-row">
        <input class="actor-name container-name" name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'PB.Name' }}" />
      </div>
      <div class="header-subtitle-row">
        <span class="item-type">{{data.type}}</span>
      </div>
      <div class="header-stats-row">
        <div class="stats-block">
          <span class="stat-label">{{localize "PB.HP"}}</span>
          <input class="stat-input" name="system.attributes.hp.value" type="number" value="{{data.system.attributes.hp.value}}" data-dtype="Number" />
          <span class="stat-separator">/</span>
          <input class="stat-input" name="system.attributes.hp.max" type="number" value="{{data.system.attributes.hp.max}}" data-dtype="Number" />
        </div>
      </div>
      <div class="header-buttons-row">
        <button type="button" class="roll-button reaction rollable">{{localize "PB.Reaction"}}</button>
        <button type="button" class="roll-button morale rollable">{{localize "PB.Morale"}}</button>
        <button type="button" class="button item-button initiative-button" title="{{localize 'PB.Initiative'}}">{{localize "PB.Initiative"}}</button>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="description">{{localize "PB.TabDescription"}}</a>
    <a class="item" data-tab="details">{{localize "PB.TabDetails"}}</a>
    <a class="item" data-tab="effects">{{ localize 'PB.TabEffects' }}</a>
    <span class="spacer"></span>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor descriptionHTML target="system.description" button=true owner=owner editable=true}}
    </div>

    {{! Details Tab }}
    <div class="tab" data-group="primary" data-tab="details">
      {{! Morale }}
      <div class="form-group">
        <label>{{localize "PB.Morale"}}:</label>
        <input name="system.attributes.morale" type="text" value="{{data.system.attributes.morale}}" placeholder="" data-dtype="Number" />
      </div>

      {{! Armor }}
      <div class="form-group">
        <label>{{localize "PB.CreatureArmor"}}:</label>
        <input type="text" name="system.attributes.armor.formula" value="{{data.system.attributes.armor.formula}}" placeholder="None" data-dtype="String" />
      </div>

      {{! Armor }}
      <div class="form-group">
        <label>{{localize "PB.CreatureArmorDescription"}}:</label>
        <input type="text" name="system.attributes.armor.description" value="{{data.system.attributes.armor.description}}" placeholder="None" data-dtype="String" />
      </div>

      {{! Attack }}
      <div class="form-group">
        <label>{{localize "PB.CreatureAttack"}}:</label>
        <input type="text" name="system.attributes.attack.formula" value="{{data.system.attributes.attack.formula}}" placeholder="None" data-dtype="String" />
      </div>
      
      <div class="form-group">
        <label>{{localize "PB.CreatureAttackDescription"}}:</label>
        <input type="text" name="system.attributes.attack.description" value="{{data.system.attributes.attack.description}}" placeholder="None" data-dtype="String" />
      </div>

      {{! Special }}
      <div class="form-group">
        <label>{{localize "PB.CreatureSpecial"}}:</label>
        <textarea name="system.special" rows="10">{{data.system.special}}</textarea>
      </div>

      {{! Speed }}
      <div class="form-group">
        <label>{{ localize "PB.ItemCharacterSpeedMax" }}:</label>
        <input type="text" name="system.attributes.speed.max" value="{{data.system.attributes.speed.max}}" data-dtype="Number" />
      </div>
    </div>

    {{! Effects }}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> systems/pirateborg/templates/actor/common/effects.html}}
    </div>
  </section>
</form>
