<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-col1">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>
    <div class="header-col2">
      <div class="header-title-row">
        <input class="actor-name container-name" name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'PB.Name' }}" />
      </div>
      <div class="header-subtitle-row">
        <div class="actor-type">{{data.type}}</div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="description">{{ localize "PB.TabDescription" }}</a>
    <a class="item" data-tab="items">{{ localize "PB.TabEquipment" }}</a>
    <a class="item" data-tab="data">{{ localize "PB.TabDetails" }}</a>
    <a class="item" data-tab="effects">{{ localize "PB.TabEffects" }}</a>
    <span class="spacer"></span>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor descriptionHTML target="system.description" button=true owner=owner editable=true}}
    </div>

    <div class="tab equipment-tab" data-group="primary" data-tab="items">
      <ol class="items-list equipment-list">
        {{> "systems/pirateborg/templates/actor/common/actor-equipment-list.html"}}
      </ol>
    </div>

    <div class="tab" data-group="primary" data-tab="data">
      <div class="form-group">
        <label>{{localize "PB.ItemSpecial"}}:</label>
        <textarea name="system.special" rows="8">{{data.system.special}}</textarea>
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemCurrentHp" }}:</label>
        <input type="text" name="system.attributes.hp.value" value="{{data.system.attributes.hp.value}}" placeholder="2" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemMaxHp" }}:</label>
        <input type="text" name="system.attributes.hp.max" value="{{data.system.attributes.hp.max}}" placeholder="2" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemAbilitiesAgility" }}:</label>
        <input type="text" name="system.abilities.agility.value" value="{{data.system.abilities.agility.value}}" placeholder="0" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemAbilitiesSkill" }}:</label>
        <input type="text" name="system.abilities.skill.value" value="{{data.system.abilities.skill.value}}" placeholder="0" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemSpeedMax" }}:</label>
        <input type="text" name="system.attributes.speed.max" value="{{data.system.attributes.speed.max}}" placeholder="2" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemCargo" }}:</label>
        <input type="text" name="system.attributes.cargo.max" value="{{data.system.attributes.cargo.max}}" placeholder="0" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemCrew" }}:</label>
        <input type="text" name="system.attributes.crew.value" value="{{data.system.attributes.crew.value}}" placeholder="0" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>{{ localize "PB.ItemCrewMin" }}:</label>
        <input type="text" name="system.attributes.crew.min" value="{{data.system.attributes.crew.min}}" placeholder="0" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemCrewMax" }}:</label>
        <input type="text" name="system.attributes.crew.max" value="{{data.system.attributes.crew.max}}" placeholder="0" data-dtype="Number" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemSmallArmsDie" }}:</label>
        <input type="text" name="system.weapons.smallArms.die" value="{{data.system.weapons.smallArms.die}}" placeholder="1d6" data-dtype="String" />
      </div>
      <div class="form-group">
        <label>{{ localize "PB.ItemSmallArmsQuantity" }}:</label>
        <input type="text" name="system.weapons.smallArms.quantity" value="{{data.system.weapons.smallArms.quantity}}" placeholder="1" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>{{ localize "PB.ItemSmallArmsWarning" }}:</label>
        <input type="text" name="system.weapons.smallArms.warning" value="{{data.system.weapons.smallArms.warning}}" placeholder="" data-dtype="String" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemBroadsidesDie" }}:</label>
        <input type="text" name="system.weapons.broadsides.die" value="{{data.system.weapons.broadsides.die}}" placeholder="1d6" data-dtype="String" />
      </div>
      <div class="form-group">
        <label>{{ localize "PB.ItemBroadsidesQuantity" }}:</label>
        <input type="text" name="system.weapons.broadsides.quantity" value="{{data.system.weapons.broadsides.quantity}}" placeholder="1" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>{{ localize "PB.ItemBroadsidesWarning" }}:</label>
        <input type="text" name="system.weapons.broadsides.warning" value="{{data.system.weapons.broadsides.warning}}" placeholder="" data-dtype="String" />
      </div>

      <div class="form-group">
        <label>{{ localize "PB.ItemRamDie" }}:</label>
        <input type="text" name="system.weapons.ram.die" value="{{data.system.weapons.ram.die}}" placeholder="1d6" data-dtype="String" />
      </div>

      {{! Armor Current Tier }}
      <div class="form-group">
        <label>{{localize "PB.ItemHullCurrentTier"}}:</label>
        <select name="system.attributes.hull.value" data-dtype="Number">
          {{#select data.system.attributes.hull.value}} {{#each config.armorTiers as |tierObj tierNum|}}
          <option value="{{tierNum}}">{{tierNum}} ({{localize tierObj.key}})</option>
          {{/each}} {{/select}}
        </select>
      </div>

      {{! Armor Max Tier }}
      <div class="form-group">
        <label>{{ localize "PB.ItemHullMaxTier" }}:</label>
        <select name="system.attributes.hull.max" data-dtype="Number">
          {{#select data.system.attributes.hull.max}} {{#each config.armorTiers as |tierObj tierNum|}}
          <option value="{{tierNum}}">{{tierNum}} ({{localize tierObj.key}})</option>
          {{/each}} {{/select}}
        </select>
      </div>
    </div>

    {{! Effects }}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> systems/pirateborg/templates/actor/common/effects.html}}
    </div>
  </section>
</form>
