<form class="roll-card wield-power-roll-card">
  <div class="card-title">{{title}}</div>

  {{#each items as |item id|}}
    <div class="item-row">
      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
      <span class="item-name">{{item.name}}</span>
    </div>
  {{/each}}
  
  {{#if description}}
    <div class="card-description">{{{description}}}</div>
  {{/if}}

  {{#if wieldRoll}}
    <div class="wield-roll">
      <div class="outcome-text">
        <span class="attack-outcome">{{wieldOutcome}}</span>
      </div>
      <div class="roll-title">
        <span>{{wieldFormula}} {{#if wieldDR}}{{localize "PB.Vs"}} {{localize "PB.DR"}} {{wieldDR}}{{/if}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal wieldRoll}}</span>
      </div>
    </div>
    {{#if wieldOutcomeDescription}}
      <div class="card-outcome-description">{{{wieldOutcomeDescription}}}</div>
    {{/if}}
  {{/if}}

  {{#if secondaryWieldRoll}}
    <div class="wield-roll">
      {{#if secondaryWieldOutcome}}
        <div class="outcome-text">
          <span class="attack-outcome">{{secondaryWieldOutcome}}</span>
        </div>
      {{/if}}
      <div class="roll-title">
        <span>{{secondaryWieldFormula}} {{#if secondaryWieldDR}}{{localize "PB.Vs"}} {{localize "PB.DR"}} {{secondaryWieldDR}}{{/if}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal secondaryWieldRoll}}</span>
      </div>
    </div>
    {{#if secondaryWieldOutcomeDescription}}
      <div class="card-outcome-description">{{{secondaryWieldOutcomeDescription}}}</div>
    {{/if}}
  {{/if}}

  {{#if damageOutcome}}
    <div class="outcome-text">
      <span class="take-damage">{{damageOutcome}}</span>
    </div>
  {{/if}}
  {{#if damageRoll}}
    <div class="damage-roll">
      <div class="roll-title">
        <span>{{localize "PB.Damage"}}: {{damageRoll._formula}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal damageRoll}}</span>
      </div>
    </div>
  {{/if}}
  {{#if armorRoll}}
    <div class="target-armor-roll">
      <div class="roll-title">
        <span>{{localize "PB.TargetArmor"}}: {{armorRoll._formula}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal armorRoll}}</span>
      </div>
    </div>
  {{/if}}

  {{#if buttons}}
    <div class="item-buttons">
      {{#each buttons}}
        <button type="button" class="button item-button rollable" {{#each data}} data-{{@key}}="{{this}}"{{/each}} title="{{title}}">
          {{title}}
        </button>
      {{/each}}
    </div>
  {{/if}}
</form>
