<form class="roll-card">
  <div class="card-title">Get Better</div>
  <div class="test-roll">
    <div class="outcome-text">
      <span class="getting-better">{{hpOutcome}}</span>
    </div>
    <div class="outcome-text">
      <span class="getting-better">{{strOutcome}}</span>
      <span class="getting-better">{{agiOutcome}}</span>
      <span class="getting-better">{{preOutcome}}</span>
      <span class="getting-better">{{touOutcome}}</span>
      <span class="getting-better">{{spiOutcome}}</span>
    </div>

    <div class="outcome-text">
      <div class="roll-title getting-better">
        <span>Left in the debris you find</span>
      </div>
      <span class="getting-better">{{debrisOutcome}}</span>
      {{#if relicOrRitual}} {{relicOrRitual.document.link}} {{/if}}
    </div>

    {{#if classFeatures.length}}
    <div class="outcome-text">
      <div class="roll-title getting-better">
        <span>{{localize "PB.GettingBetterClassFeatures"}}</span>
      </div>
      {{#each classFeatures as |classFeature|}} {{classFeature.document.link}} {{/each}}
    </div>
    {{/if}}
  </div>
</form>
