<div class="wield-roll">
  <div class="outcome-text">
    <span class="take-damage">{{damageOutcome}}</span>
  </div>
  {{#if damageRoll}}
    <div class="damage-roll">
      <div class="roll-title">
        <span>{{localize "PB.Damage"}}: {{damageRoll._formula}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal damageRoll}}</span>
      </div>
    </div>
  {{/if}}
  {{#if armorRoll}}
    <div class="target-armor-roll">
      <div class="roll-title">
        <span>{{localize "PB.TargetArmor"}}: {{armorRoll._formula}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal armorRoll}}</span>
      </div>
    </div>
  {{/if}}
  {{#if damageDescription}}
    <div class="card-description">{{{damageDescription}}}</div>
  {{/if}}
</div>
