<form class="roll-card wield-power-roll-card">
  <div class="card-title">{{localize 'PB.WieldAPower'}}</div>
  <div class="wield-roll">
    <div class="roll-title">
      <span
        >{{localize 'PB.Wield'}}: {{wieldFormula}} {{localize 'PB.Vs'}}
        {{localize 'PB.DR'}} {{wieldDR}}</span
      >
    </div>
    <div class="roll-result">
      <span>{{xtotal wieldRoll}}</span>
    </div>
  </div>
  <div class="outcome-text">
    <span class="attack-outcome">{{wieldOutcome}}</span>
  </div>
  {{#if damageRoll}}
  <div class="damage-roll">
    <div class="roll-title">
      <span>{{localize 'PB.Damage'}}: {{damageRoll.formula}}</span>
    </div>
    <div class="roll-result">
      <span>{{xtotal damageRoll}}</span>
    </div>
  </div>
  {{/if}} {{#if takeDamage}}
  <div class="outcome-text">
    <span class="take-damage">{{takeDamage}}</span>
  </div>
  {{/if}}
</form>
