{{#ifEq item.system.invokableType "Arcane Ritual"}}
  <button type="button" class="item-button rollable action-invokable" data-label="{{localize 'PB.Invoke'}}" title="{{item.system.actionMacroLabel}}">
    {{localize "PB.InvokeRitual"}}
  </button>
{{/ifEq}} 

{{#ifEq item.system.invokableType "Ancient Relic"}}
  <button type="button" class="item-button rollable action-invokable" data-label="{{localize 'PB.Invoke'}}" title="{{item.system.actionMacroLabel}}">
    {{localize "PB.InvokeRelic"}}
  </button>
{{/ifEq}} 

{{#ifNe item.system.invokableType "Arcane Ritual"}}
  {{#ifNe item.system.invokableType "Ancient Relic"}}
    {{#if item.system.invokableType}}
      <button type="button" class="item-button rollable action-invokable" data-label="{{localize 'PB.Invoke'}}" title="{{item.system.actionMacroLabel}}">
        {{localize "PB.Invoke"}}
      </button>
    {{else}} 
      {{#if item.system.actionMacroLabel}}
        <button type="button" class="item-button rollable action-macro-button" data-label="{{item.system.actionMacroLabel}}" title="{{item.system.actionMacroLabel}}">
          {{item.system.actionMacroLabel}}
        </button>
      {{/if}} 
    {{/if}} 
  {{/ifNe}} 
{{/ifNe}}
