<ol class="items-list equipment-list">
  <li class="items-header flexrow">
    <h4 class="item-name flexrow">
      {{localize label}} <span class="items-header-quantity">{{#if maxQuantity}}({{currentQuantity}}/{{maxQuantity}}){{/if}}</span>
    </h4>
    {{#if create}}
    <div class="item-create-button">
      <a class="item-control item-create-{{type}}-button" title='{{localize "PB.ItemCreate"}}'> <i class="fas fa-plus"></i></a>
    </div>
    {{/if}} {{#> extra-header }}{{/extra-header}}
  </li>
  <ol class="item-list">
    {{> @partial-block }}
  </ol>
</ol>
