.pirateborg {
  &.sheet.actor {
    .sheet-body {
      flex: 1;

      .item-controls .item-toggle {
        color: darkgray;

        &.carried,
        &.equipped {
          color: var(--highlight-background-color);
        }
      }

      .combat-tab {
        div.initiative {
          margin-top: 10px;
          text-align: center;
        }

        .roll-initiative {
          font-family: var(--item-font);
          font-size: 16px;
          margin-right: 10px;
        }

        .initiative-button {
          width: 100px;
        }

        .item-list {
          &.weapon-list {
            .weapon-name-col {
              display: flex;
              align-items: center;
              .ammo-select-col {
                flex: 0 0 100px;
                margin-top: 0;
                display: flex;
                select.ammo-select {
                  font-family: var(--item-font);
                  font-size: 13px;
                  border: 2px groove var(--light-border-color);
                  background: rgba(255, 255, 255, 0.2);
                  width: 100px;
                }
              }
            }
          }

          .item-name {
            flex: 1;
          }

          .item-fields {
            flex: 0 0 76px;
            gap: 4px;
            font-size: 14px;

            .item-field {
              &.damage-die {
                text-align: right;
                width: 28px;
              }

              &.weapon-type {
                text-align: right;
                width: 48px;
              }
            }
          }
        }

        .attack-rule {
          text-align: center;
        }

        .combat-gutter {
          height: 10px;
        }

        .item-armor-tier {
          display: flex;
          align-items: center;
          gap: 8px;
          flex: 0;
        }

        .item-hat-rule {
          flex: 0 0 250px;
          text-align: right;
        }

        .tier-label {
          float: left;
          font-size: 20;
          margin-right: 10px;
        }

        ul.tiers {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-content: center;
          gap: 12px;

          li {
          }

          label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .tier-dmg {
              line-height: 13px;
            }
          }

          input[type="radio"] {
            display: none;

            &:checked + span.tier-num {
              background: var(--button-background);
              color: var(--button-color);
              border-color: var(--button-background);
            }

            &:disabled {
              + span.tier-num {
                color: #444444;
                border: 1px solid var(--light-border-color);
              }

              ~ span.tier-dmg {
                color: #444444;
              }
            }
          }

          span {
            &.tier-num {
              cursor: pointer;
              border: 1px solid black;
              border-radius: 100%;
              font-family: var(--item-font);
              width: 24px;
              height: 24px;
              text-align: center;
              line-height: 21px;
            }

            &.tier-dmg {
            }
          }
        }

        .underarmor-row {
          padding: 8px 8px 8px 0;
          text-align: right;

          button {
            width: 100px;
          }
        }

        .hat-rule {
          margin-top: 5px;
        }

        .defend-rule {
          text-align: center;
          margin-top: 16px;
        }
      }
    }

    .sheet-body {
      .equipment-top-row {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin-bottom: 16px;
      }

      .equipment-list {
        .item-create-button {
          flex: 0 0 80px;
          display: flex;
          justify-content: flex-end;
          font-size: 16px;
          padding: 0 8px 0 0;
        }
      }

      .silver {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .silver-input {
        width: 74px;
        text-align: left;
        padding-left: 8px;
      }
    }
  }
}
