.pirateborg {
  &.sheet {
    &.actor.character {
      min-width: 700px;
      min-height: 700px;

      .sheet-body {
        .powers-top-row {
          margin-bottom: 16px;
          display: flex;
          justify-content: space-between;
        }

        .wield-power {
          flex: 0 0 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .powers-gutter {
          flex: 0 0 20px;
        }

        .wield-power-button {
          width: 200px;
        }

        .wield-rule {
          text-align: center;
        }

        div.uses-remaining {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
        }

        .uses-remaining div {
          margin-bottom: 20px;
        }

        .carry-block {
          flex: 1;
          text-align: end;
          display: flex;
          align-items: flex-end;
          flex-direction: column;

          .carry-block-carrying {
            display: flex;
            align-items: center;
            margin-bottom: 4px;

            span {
              font-size: 18px;
            }
          }
        }

        .container-label {
          margin-left: 40px;
        }

        .encumbered {
          color: var(--highlight-background-color);
          font-weight: bold;
        }
      }
    }
  }
}
