.pirateborg {
  &.sheet {
    &.actor.character {
      min-width: 742px;
      min-height: 650px;

      .sheet-header {
        gap: 16px;
        .header-col1 {
          flex: 0 0 200px;
          padding: 0;
          margin-right: 8px;
          line-height: 0;
        }

        .header-col2 {
          flex: 1;
          display: flex;
          flex-direction: column;
          .rest-buttons {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }

        .header-col3 {
          flex: 0 0 120px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .profile-img {
          height: 200px;
          width: 200px;
          border-radius: 24px;
        }

        .name-row {
          margin-left: -4px;
        }

        .classname-row {
          display: flex;
          flex-direction: row;
          margin-bottom: 19px;
          width: 100%;
          margin-left: 0px;

          img.classimg {
            height: 24px;
            width: 24px;
            flex: 0 0 24px;
            margin-right: 5px;
          }

          label.classname {
            font-family: var(--h3-font);
            font-size: 24px;
            width: 100%;
          }

          .item-controls {
            flex: 0 0 35px;
            text-align: right;
            margin-right: 0;

            /* TODO: fix vertical alignment in a better way */
            padding-top: 6px;
          }
        }

        .hitpoints-row {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          gap: 4px;
        }

        .hp-entries {
          display: flex;
          align-items: center;
          gap: 4px;     
           span {
            font-size: 18px;
            margin-top: 3px;
          }    
        }

        .luck-row {
          display: flex;
          margin-bottom: 8px;
          align-items: center;
          gap: 4px;

          .luck-label:hover {
            color: var(--highlight-foreground-color);
            text-shadow: 0 0 16px var(--highlight-background-color);
            cursor: pointer;
          }
        }

        .luck-rule {
          
        }

        .stat-label {

        }

        .ability-row {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .ability-label {
          font-family: var(--item-font);
          font-size: 16px;
          margin-left: 5px;
          display: block;
          padding-top: 2px;
        }

        .ability-input {
          border: none;
          font-family: var(--item-font);
          font-size: 32px;
          text-align: center;
          width: 42px;
          height: 32px;
          border-radius: 0;
          color: var(--foreground-color);
          font-weight: 600;
          padding-bottom: 4px;
          border-radius: 4px;
        }
      }

      .sheet-body {

        .powers-top-row {
          margin-bottom: 16px;
          display: flex;
          justify-content: space-between;
        }

        .wield-power {
          flex: 0 0 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .powers-gutter {
          flex: 0 0 20px;
        }

        .wield-power-button {
          width: 200px;
        }

        .wield-rule {
          text-align: center;
        }

        div.uses-remaining {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
        }

        .uses-remaining div {
          margin-bottom: 20px;
        }

        .carry-block {
          flex: 1;
          text-align: end;
          display: flex;
          align-items: flex-end;
          flex-direction: column;

          .carry-block-carrying {
            display: flex;
            align-items: center;
            margin-bottom: 4px;

            span {
              font-size: 18px;
            }

            .stat-value {
              color: var(--foreground-color);
              font-size: 32px;
              font-weight: 600;
              padding: 0;
              margin-top: -8px;
              line-height: 32px;
            }
          }

        }

        .container-label {
          margin-left: 40px;
        }

        .encumbered {
          color: var(--highlight-background-color);
          font-weight: 600;
        }
      }
    }
  }
}
