/* ====================== */
/* Attack/Defend Custom Dialogs */
/* ====================== */

.custom-dialog .form-group {
  margin: 8px;

  label {
    font-family: var(--item-font);
    font-size: 20px;
    margin-right: 10px;
    text-align: right;
  }
}

.dialog-button {
  &.attack,
  &.create {
    font-family: var(--h2-font);
    font-size: 20px;
  }
}

.dialog-buttons button.dialog-button {
  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 0 5px var(--highlight-background-color);
    text-shadow: 0 0 16px var(--highlight-background-color);
  }
}

/* ====================== */
/* Rest and Scvm Dialogs */
/* ====================== */

.custom-dialog {
  border: 2px groove var(--light-border-color);
  font-size: 14px;
  margin: 0;

  .section {
    margin: 10px 10px 20px 10px;
  }

  .subtitle {
    font-family: var(--h2-font);
    font-size: 22px;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin: 0 0 10px 0;

    input {
      &[type="checkbox"],
      &[type="radio"] {
        float: left;
      }

      &[type="checkbox"] {
        height: 14px;
        width: 14px;
      }
    }

    label div {
      display: block;
      margin-left: 30px;
    }
  }

  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8px;
    gap: 8px;

    button {
      background: var(--button-background);
      color: var(--button-color);
      font-family: var(--button-font);
      border: none;
      border-radius: 24px;
      font-size: 14px;
      width: auto;
      padding: 0 16px;
      font-weight: 500;
      width: 100%;

      &:active,
      &:focus,
      &:hover {
        box-shadow: 0 0 5px var(--highlight-background-color);
        text-shadow: 0 0 16px var(--highlight-background-color);
      }
    }
  }
}

.allowed-scvm-classes-dialog .class-name,
.scvm-dialog .class-name {
  text-transform: capitalize;
  padding-top: 2px;
}

.defense-dialog,
.attack-dialog {
  .form-group {
    display: flex;
    align-items: flex-start;
  }

  .radio-group-radio {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 8px;

    li {
      margin: 0;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + span.radio-label {
      background: var(--button-background);
      color: var(--button-color);
      border-color: var(--button-background);
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      font-size: 16px;
    }

    .radio-label {
      cursor: pointer;
      border: 1px solid black;
      border-radius: 100%;
      font-family: var(--item-font);
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 21px;
      font-size: 13px;
    }

    .tier-dmg {
      line-height: 13px;
    }
  }
}
