body {
  background: url(/systems/pirateborg/ui/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.window-app {
  .window-header {
    background: var(--window-header-background-color);
    color: var(--window-header-color);
  }
}

.form-group {
  input[type="text"] {
    color: var(--foreground-color);

    &:hover,
    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  textarea {
    color: var(--foreground-color);

    &:hover {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }

    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
      outline: none;
    }
  }
}

form button {
  background: var(--button-background);
  color: var(--button-color);
  font-family: var(--button-font);
  border: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 0 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 1px;
  cursor: pointer;
  height: 28px;

  &:hover {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

a:hover {
  text-shadow: 0 0 8px var(--highlight-background-color);
}

input[type="text"] {
  color: var(--foreground-color);
  background: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

form.editable .results {
  .result-image img {
    background-color: var(--foreground-color);
  }

  .result-type select {
    color: var(--foreground-color);

    &:hover,
    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  .result-details {
    select {
      color: var(--foreground-color);

      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }
    }

    input[type="text"] {
      color: var(--foreground-color);

      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }
    }
  }
}

.table-results .table-result .result-text .entity-link {
  background-color: var(--highlight-background-color);
  color: var(--highlight-foreground-color);
}

/* Fixes Module Management dialog */

#module-management .package-list {
  .package-title,
  .package-metadata,
  .package-description {
    color: var(--foreground-color);
  }
}

/* Fixes hard-to-read dark text on various system Dialogs */

.window-app .window-content {
  .notes {

  }

  form {
    .form-header {

    }

    .notes {

    }
  }

  .form-group {
    input {
      color: var(--foreground-color);
      border: 2px groove var(--light-border-color);

      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }

      &.readonly {
        color: gray;
      }

      &:hover.readonly,
      &:focus.readonly {
        box-shadow: none;
        cursor: default;
      }
    }
  }
}

/* TODO: determine if we need both .notes and form .notes styles specified */

/* Fix readonly input on defend dialog */

/* Fixes Journal image select dialog */

.journal-sheet {
  &.image-popout .window-content .form-group {
    input {
      color: var(--background-color);
    }

    &.picker button.file-picker {
      background-color: var(--background-color);
    }
  }

  form {
    select {
      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }
    }

    .form-group {
      &.title input[type="text"],
      &.picker input[type="text"].image {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

/* Fix Player Configuration dialog */

#player-config form .form-group {
  label {
    color: var(--foreground-color);
  }

  .directory-list .actor.directory-item {
    border-bottom-color: none;
    border-top-color: none;

    &.context {
      border-bottom-color: var(--highlight-background-color);
      border-top-color: var(--highlight-background-color);
      box-shadow: 0 0 5px var(--highlight-background-color);
    }
  }
}

/* ====================== */
/* UI / Chat */
/* ====================== */

#chat-controls {
  color: var(--foreground-color);
  
  i.fas:hover {
    color: var(--highlight-background-color);
    text-shadow: 0 0 5px var(--highlight-background-color);
  }

  .roll-type-select {
    color: var(--foreground-color);
    border: 2px groove var(--light-border-color);
    background: transparent;
  }

  select:focus {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

#chat-log {
  .message-header {
    align-items: center;
    line-height: normal;
  }

  .chat-message {
    background: var(--window-background);
    border: 2px groove var(--light-border-color);
    border-radius: 0;
    color: var(--foreground-color);
    margin-bottom: 8px;
    font-family: var(--chat-font);
    font-size: 16px;
    padding: 8px;
    padding-bottom: 24px;
  }

  .message {
    h4,
    h3,
    h2 {
      color: var(--foreground-color);
    }
  }

  .message-metadata {
    color: var(--foreground-color);
  }

  .message h2 {
    background: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
  }

  .chat-message .message-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    .message-sender {
      font-family: var(--h1-font);
      font-size: 24px;
      margin-bottom: 8px;
    }

    .message-metadata {
      font-family: var(--chat-info-font);
      font-size: 12px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 8px;
    }

    span.flavor-text {
      font-family: var(--h3-font);
      font-size: 24px;
      margin: 0;
      text-align: center;
      line-height: 24px;
      margin-top: 8px;
      margin-bottom: 4px;
      color: var(--foreground-color);
    }
  }

  .message {
    .dice-formula,
    .dice-total {
      font-size: 16px;
      border-radius: 0;
      background-color: var(--background-color);
      color: var(--foreground-alt-color);
      border: 0;
      box-shadow: none;
    }
  }
}

#chat-form textarea {
  color: var(--foreground-color);
  background: transparent;
  border: 2px groove var(--light-border-color);
  font-family: var(--chat-font);
  font-size: 16px;

  &:focus {
    outline: 2px solid var(--highlight-background-color);
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

#client-settings {
  section.content .submenu > button,
  button {
    background: var(--button-background);
    color: var(--button-color);
    font-family: var(--button-font);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    padding: 0 16px;
    font-weight: 500;
    cursor: pointer;
    height: auto;
  }

  h2 {
    border-bottom: none;
    color: var(--foreground-color);
    font-family: var(--h2-font);
    margin-bottom: 16px;
    font-weight: 600;
  }

  select {

    &:focus {
      outline: none;
      box-shadow: 0 0 5px var(--highlight-background-color);
    }
  }
}

/* XXX */
/* XXX maybe only set controls li color and background ? */

#controls {
  color: var(--foreground-color);

  /*  background: var(--background-color); */

  .control-tool.toggle {
    background: unset;
    border: 1px solid #252525;

    &.active {
      background: var(--background-color);
      text-shadow: 0 0 16px var(--highlight-background-color);
      box-shadow: 0 0 16px var(--highlight-background-color);
    }

    &:hover {
      background: unset;
      text-shadow: 0 0 16px var(--highlight-background-color);
      box-shadow: 0 0 16px var(--highlight-background-color);
    }
  }

  .control-tools {
    color: var(--foreground-color);

    /*  background: var(--background-color); */
  }

  li {
    background: var(--background-color);
    background-color: var(--background-color);
  }

  .control-tool {
    &.active,
    &:hover {
      background: var(--background-color);
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  .scene-control {
    &.active,
    &:hover {
      background: var(--background-color);
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }

    &.active {
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }
}

.dialog .dialog-buttons {

  button {
    margin-top: 8px;
    background: var(--button-background);
    color: var(--button-color);
    font-family: var(--button-font);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    width: auto;
    padding: 0 16px;
    font-weight: 500;
    
    cursor: pointer;

    &.default {
      background: var(--button-background);
      border: none;
    }
  }
}

form .form-group select {
  color: var(--foreground-color);
  background: transparent;
  border: 2px groove var(--light-border-color);

  &:focus {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

form .form-group,
form .form-group-stacked {
   margin: 8px 0;
 }

#hotbar {
  #hotbar-directory-controls,
  #hotbar-page-controls {
    background: var(--background-color);
    color: var(--foreground-color);
  }

  #action-bar li.macro:hover {
    background: var(--background-color);
    color: var(--foreground-color);
    border: 1px solid var(--highlight-background-color);
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

#navigation {
  #nav-toggle {
    background: var(--background-color);
    color: var(--foreground-color);
  }

  #scene-list li.scene.nav-item {
    border: 1px solid #252525;

    &.active,
    &:hover {
      background: var(--background-color);
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }
}

#settings {
  h2 {
    border-top: 2px groove var(--color-border-dark-4) !important;
    border-bottom: 2px groovesolid var(--color-border-dark-4) !important;
  }

  button {
    background: var(--button-background);
    color: var(--button-color);
    font-family: var(--button-font);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    padding: 0 16px;
    font-weight: 500;
    cursor: pointer;
  }
}
#sidebar {
  background: var(--sidebar-background);  
  color: var(--sidebar-color);

  &.collapsed #sidebar-tabs > .item.active {
    border-bottom: 1px solid var(--highlight-background-color);
    border-radius: 5px;
  }
}

#sidebar-tabs {
  background: var(--sidebar-tab-background);
  color: var(--sidebar-tab-color);

  border-bottom: 1px solid var(--highlight-background-color);
  box-shadow: 0 0 10px var(--highlight-background-color);

  > .item.active {
    color: var(--highlight-foreground-color);
    background: var(--highlight-background-color);
    border: 1px solid var(--highlight-background-color);
    border-bottom: none;
    box-shadow: 0 0 16px inset var(--highlight-background-color);
    text-shadow: 0 0 16px var(--highlight-background-color);
  }
}

.sidebar-tab {
  .action-buttons button {
    cursor: pointer;
    background: var(--button-background);
    color: var(--button-color);
    font-family: var(--button-font);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    width: auto;
    padding: 0 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .directory-header .header-search input {
    background: transparent;
    border-radius: 0;
    font-family: var(--button-font);
    border: 2px groove var(--light-border-color);

    &[type="text"]:focus {
      box-shadow: 0 0 5px var(--highlight-background-color);
    }
  }

  &.directory {
    
    .folder-header {
      border: none;
    }

    .directory-header {
      border-bottom: 2px groove var(--light-border-color);
    }

    li {
      &.folder > .folder-header {
        background: none;
        border-bottom: 2px groove var(--light-border-color);
        h3 {
        color: var(--foreground-color);
        }
      }      
      &.folder {
        background: none;
        &.collapsed > .folder-header {
          background: none;
          border: none;
        }
      }      
    }

    .directory-list {
      .directory-item:last-child {
        border-bottom: 2px groove var(--light-border-color);
      }
      
      .subdirectory {
        padding-left: 16px;
        border: none;
        .directory-item:last-child {
          border: none;
        }
      }

      .directory-item {
        border-bottom: 2px groove var(--light-border-color);
        border-top: 0;

        &.document-name {
          border: none;
        }

        h4 {
          font-family: var(--item-font);
          font-weight: 600;
          font-size: 14px;
        }
        img {
          padding: 2px;
          border-radius: 8px;
        }
      } 
    }
  }
}

.tabs .item {
  &.active,
  &:hover {
    text-shadow: 0 0 16px var(--highlight-background-color);
  }
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--highlight-background-color) !important;
  border: 1px solid var(--background-color) !important;
  color: var(--highlight-foreground-color) !important;
}

.window-app {
  .window-content {
    background: var(--window-background);
    color: var(--foreground-color);
  }

  &.app.journal-sheet .window-content {
    color: var(--background-color);
    background-position: -43px -120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
    font-family: var(--item-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    h1 {
      font-family: var(--h2-font);
      border-bottom: 2px solid #222222;
    }

    h2 {
      border-bottom: 1px solid #252525;
    }
  }
}

/* ================== 11. JOURNAL ENTRIES =================== */

.journal-sheet form {
  button[type="submit"] {

  }

  input[name="name"] {
    color: var(--background-color);
    font-family: var(--h2-font);
    font-size: 32px;
  }

  select {
    font-family: var(--item-font);
  }
}

a {
  &.entity-link,
  &.inline-roll {
    background: transparent;
    color: var(--foreground-color);
    padding: 1px 4px;
    border: none;
    border-radius: 2px;
    white-space: unset;
    word-break: break-all;
  }
}

#world-config {
  .window-content {
    .editor {
      // crappy workaround so the tinymce editor black text is visible
      background: #d8d8cc;
    }
  }
}

.sheet {
  nav.sheet-tabs {
    border-top: 2px groove var(--light-border-color);
    border-bottom: 2px groove var(--light-border-color);
  }
}

hr {
  border-top: 2px groove var(--color-border-light-primary);
  border-bottom: none;
}

#combat {
  li.combatant {
    .token-initiative .initiative {
      text-shadow: none;
    }
    .token-name {
      text-shadow: none;
    }
  }
}

#playlists .global-control .playlist-header {
  background: none;
  border-top: none;
  border-bottom: 2px groove var(--light-border-color);
}

#compendium h3 {
  border: none;
  background: var(--background-color);
  color: var(--foreground-alt-color);
}