body {
  background: url(../ui/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  input[type="text"] {
    &:hover,
    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  textarea {
    border: 2px groove var(--light-border-color);

    &:hover {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }

    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
      outline: none;
    }
  }
}

.pirateborg.sheet form button:not(.tinymce *) {
  background: var(--button-background);
  color: var(--button-color);
  font-family: var(--button-font);
  border: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 0 16px;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  white-space: nowrap;
  width: auto;

  &:hover {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

.chat-message form .item-buttons {
  margin-top: 24px;
}

.chat-message form button.item-button {
  font-size: 16px;
  width: 100%;
  background: var(--button-background);
  color: var(--button-color);
  font-family: var(--button-font);
  border: none;
  border-radius: 24px;
  padding: 0 16px;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

a:hover {
  text-shadow: 0 0 8px var(--highlight-background-color);
}

input[type="text"] {
  &:hover,
  &:focus {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

form.editable .results {
  .result-type select {
    &:hover,
    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  select {
    border: 2px groove var(--light-border-color);

    &:hover,
    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  input[type="text"] {
    border: 2px groove var(--light-border-color);

    &:hover,
    &:focus {
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }
}

.chat-message .table-draw .table-description {
  font-size: var(--font-size-14);
}

/* Fixes Module Management dialog */

#module-management {
  input {
    //color: var(--foreground-color);
    //border: 2px groove var(--light-border-color);
    //background: rgba(255, 255, 255, 0.2);
  }

  .package-list {
    .package-title,
    .package-metadata,
    .package-description {
      //color: var(--foreground-color);
    }
  }
}

/* Fixes hard-to-read dark text on various system Dialogs */

.window-app {
  &.sheet .window-content form {
    .tabs {
      border: none;
      padding: 0;
      margin: 0;
      flex: 0;
      .item {
        text-align: center;
        font-family: var(--h2-font);
        font-size: 18px;
        height: 36px;
        line-height: 38px;
        width: 100%;
        white-space: nowrap;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--dark-border-color);
        padding: 0 8px;
        text-transform: none;
        padding-left: 16px;
        padding-right: 16px;
        &.active {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background: rgba(255, 255, 255, 0.2);
          border: 1px solid var(--dark-border-color);
          border-bottom: 0;
        }
        &.active:hover {
          text-shadow: none;
        }
      }
    }
  }
  .window-content {
    background: var(--window-background);

    form {
      .tab {
        margin-bottom: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid var(--dark-border-color);
        border-top: none;
        padding: 16px;
        overflow-y: auto;

        .tabs {
          .item {
            font-size: 16px;
            font-weight: 400;
          }
        }

        .tab {
          margin-bottom: 0;
          padding: 8px;
        }

        button {
          label {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }

    .form-group {
      input[type="range"] {
        background: none;
        border: none;
        &:hover,
        &:focus {
          box-shadow: none;
        }
      }
      input[type="range"] + .range-value {
        background: rgba(255, 255, 255, 0.2);
        border: none;
      }
      input {
        color: var(--foreground-color);
        border: 2px groove var(--light-border-color);
        background: rgba(255, 255, 255, 0.2);

        &:hover,
        &:focus {
          box-shadow: 0 0 10px var(--highlight-background-color);
        }

        &.readonly {
          color: gray;
        }

        &:hover.readonly,
        &:focus.readonly {
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }
}

/* Fix readonly input on defend dialog */

/* Fixes Journal image select dialog */

.journal-sheet {
  &.image-popout .window-content .form-group {
    input {
      color: var(--background-color);
    }

    &.picker button.file-picker {
      background-color: var(--background-color);
    }
  }

  form {
    select {
      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }
    }

    .form-group {
      &.title input[type="text"],
      &.picker input[type="text"].image {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

/* Fix Player Configuration dialog */

#player-config form .form-group {
  label {
    color: var(--foreground-color);
  }

  .directory-list .actor.directory-item {
    border-bottom-color: none;
    border-top-color: none;

    &.context {
      border-bottom-color: var(--highlight-background-color);
      border-top-color: var(--highlight-background-color);
      box-shadow: 0 0 5px var(--highlight-background-color);
    }
  }
}

/* ====================== */
/* UI / Chat */
/* ====================== */

#chat-controls {
  color: var(--foreground-color);

  i.fas:hover {
    color: var(--highlight-background-color);
    text-shadow: 0 0 5px var(--highlight-background-color);
  }

  .roll-type-select {
    color: var(--foreground-color);
    border: 2px groove var(--light-border-color);
    background: rgba(255, 255, 255, 0.2);
  }

  select:focus {
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

.chat-sidebar {
  .message-header {
    align-items: center;
    line-height: normal;
  }

  .chat-message {
    background: var(--window-background);
    border: 2px groove var(--light-border-color);
    border-radius: 0;
    color: var(--foreground-color);
    margin-bottom: 8px;
    font-family: var(--chat-font);
    font-size: 16px;
    padding: 8px;
    padding-bottom: 24px;
    .table-draw .table-results {
      margin: 0;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      flex-direction: column;
    }

    .gm-only {
      display: none;
    }

    &.emote {
      position: relative;
      background: none;
      border: 2px solid var(--color-emote-border);
    }
    &.emote::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--window-background);
      filter: grayscale(25%);
    }
    &.emote > * {
      position: relative;
    }
    &.whisper {
      position: relative;
      background: none;
      border: 2px solid var(--color-whisper-border);
    }
    &.whisper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--window-background);
      filter: grayscale(50%);
    }
    &.whisper > * {
      position: relative;
    }
    &.blind {
      position: relative;
      background: none;
      border: 2px solid var(--color-blind-border);
    }
    &.blind::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--window-background);
      filter: grayscale(100%);
    }
    &.blind > * {
      position: relative;
    }
  }

  .message {
    h4,
    h3,
    h2 {
      color: var(--foreground-color);
    }
  }

  .message-metadata {
    color: var(--foreground-color);
  }

  .message h2 {
    background: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
  }

  .chat-message .message-header {
    margin-bottom: 8px;
    .message-sender {
      font-family: var(--h1-font);
      font-size: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 28px;
    }

    .message-metadata {
      font-family: var(--chat-info-font);
      font-size: 12px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 4px;
      flex: 0 0 70px;
    }

    span.flavor-text {
      background: var(--highlight-background-color);
      color: var(--highlight-foreground-color);
      font-family: var(--h2-font);
      font-size: 24px;
      margin-top: 4px;
      margin-bottom: 24px;
      text-align: center;
      padding-top: 4px;
      line-height: 28px;
    }
  }

  .message {
    .dice-formula,
    .dice-total {
      font-size: 16px;
      border-radius: 0;
      background-color: var(--background-color);
      color: var(--foreground-alt-color);
      border: 0;
      box-shadow: none;
    }
  }
}

#chat-form textarea {
  color: var(--foreground-color);
  border: 2px groove var(--light-border-color);
  background: rgba(255, 255, 255, 0.2);
  font-family: var(--chat-font);
  font-size: 16px;

  &:focus {
    outline: 2px solid var(--highlight-background-color);
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

.token-sheet {
  min-width: 850px;
}

#client-settings {
  section.content {
    border: none;
    .settings-list {
      max-height: none;
      overflow: hidden;
      padding: 0;
    }
    .submenu > button {
      height: 24px;
    }
  }
  nav.tabs {
    font-size: var(--font-size-14);
    border: none;
    padding: 0;
  }
  h2 {
    border-bottom: none;
    color: var(--foreground-color);
    font-family: var(--h2-font);
    margin-bottom: 16px;
    font-weight: 600;
  }

  select {
    &:focus {
      outline: none;
      box-shadow: 0 0 5px var(--highlight-background-color);
    }
  }
}

/* XXX */
/* XXX maybe only set controls li color and background ? */

#controls {
  color: var(--foreground-color);

  /*  background: var(--background-color); */

  .control-tool.toggle {
    background: unset;
    border: 1px solid #252525;

    &.active {
      background: var(--background-color);
      text-shadow: 0 0 16px var(--highlight-background-color);
      box-shadow: 0 0 16px var(--highlight-background-color);
    }

    &:hover {
      background: unset;
      text-shadow: 0 0 16px var(--highlight-background-color);
      box-shadow: 0 0 16px var(--highlight-background-color);
    }
  }

  .control-tools {
    color: var(--foreground-color);

    /*  background: var(--background-color); */
  }

  li {
    background: var(--background-color);
    background-color: var(--background-color);
  }

  .control-tool {
    &.active,
    &:hover {
      background: var(--background-color);
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }

  .scene-control {
    &.active,
    &:hover {
      background: var(--background-color);
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }

    &.active {
      color: var(--foreground-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }
}

.dialog .dialog-buttons {
  button {
    margin-top: 8px;
    background: var(--button-background);
    color: var(--button-color);
    font-family: var(--button-font);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    width: auto;
    padding: 0 16px;
    cursor: pointer;

    &.default {
      background: var(--button-background);
      border: none;
    }
  }
}

#hotbar {
  #hotbar-directory-controls,
  #hotbar-page-controls {
    background: var(--background-color);
    color: var(--foreground-alt-color);
  }

  #action-bar li.macro:hover {
    background: var(--background-color);
    color: var(--foreground-color);
    border: 1px solid var(--highlight-background-color);
    box-shadow: 0 0 10px var(--highlight-background-color);
  }
}

#navigation {
  #nav-toggle {
    background: var(--background-color);
    color: var(--foreground-alt-color);
  }

  #scene-list li.scene.nav-item {
    border: 1px solid #252525;

    &.active,
    &:hover {
      background: var(--background-color);
      color: var(--foreground-alt-color);
      border: 1px solid var(--highlight-background-color);
      box-shadow: 0 0 10px var(--highlight-background-color);
    }
  }
}

#settings {
  h2 {
    border-top: 2px groove var(--color-border-dark-4) !important;
    border-bottom: 2px groovesolid var(--color-border-dark-4) !important;
  }
}
div#sidebar {
  background: var(--sidebar-background);
  color: var(--sidebar-color);

  &.collapsed #sidebar-tabs > .item.active {
    border-bottom: 1px solid var(--highlight-background-color);
    border-radius: 5px;
  }
}

#sidebar-tabs:not(.faded-ui) {
  background: var(--sidebar-tab-background);
  color: var(--sidebar-tab-color);

  > .collapse {
    color: var(--sidebar-tab-color);
  }

  > .item.active {
    color: var(--highlight-foreground-color);
    background: var(--highlight-background-color);
    border: 1px solid var(--highlight-background-color);
    border-bottom: none;
    box-shadow: 0 0 16px inset var(--highlight-background-color);
    text-shadow: 0 0 16px var(--highlight-background-color);
  }
}

#sidebar.app .sidebar-tab {
  .action-buttons button {
    cursor: pointer;
    background: var(--button-background);
    color: var(--button-color);
    font-family: var(--button-font);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    width: auto;
    padding: 0 16px;
    cursor: pointer;
  }

  .directory-header .header-search input {
    border: 2px groove var(--light-border-color);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    font-family: var(--button-font);

    &[type="text"]:focus {
      box-shadow: 0 0 5px var(--highlight-background-color);
    }
  }

  &.directory {
    .folder-header {
      border: none;
    }

    .directory-header {
      border-bottom: 2px groove var(--light-border-color);
    }

    li {
      &.folder > .folder-header {
        background: none;
        border-bottom: 2px groove var(--light-border-color);
        h3 {
          color: var(--foreground-color);
          font-family: var(--compendium-font);
          font-size: 16px;
        }
      }
      &.folder {
        background: none;
        &.collapsed > .folder-header {
          background: none;
          border: none;
        }
      }
    }

    .directory-list {
      .directory-item:last-child {
        border-bottom: 2px groove var(--light-border-color);
      }

      .subdirectory {
        border: none;
        .directory-item:last-child {
          border: none;
        }
        li {
          padding-left: 16px;
        }
      }

      .directory-item {
        border-bottom: 2px groove var(--light-border-color);
        border-top: 0;

        &.document-name {
          border: none;
        }

        h4 {
          font-family: var(--compendium-font);
          font-size: 14px;
        }
        img {
          padding: 2px;
          border-radius: 8px;
        }
      }
    }
  }
}

#scenes {
  .scene h3 {
    color: var(--foreground-alt-color);
  }
  .subdirectory {
    border: none;
    padding: 0;
    .scene {
      margin: 8px;
    }
  }
}

.compendium.directory .directory-list .directory-item {
  color: var(--foreground-color);
  font-family: var(--compendium-font);
  font-size: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--highlight-background-color) !important;
  border: 1px solid var(--background-color) !important;
  color: var(--highlight-foreground-color) !important;
}

.application.journal-sheet .window-content .journal-entry-page > :not(.prosemirror) {
  color: var(--background-color);
  font-family: var(--item-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  h1 {
    font-family: var(--h2-font);
    border-bottom: 2px solid var(--color-underline-header);
  }

  h2 {
    border-bottom: 2px solid var(--color-underline-header);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    color: var(--background-color);
  }
}

/* ================== 11. JOURNAL ENTRIES =================== */

.journal-sheet form {
  button[type="submit"] {
  }

  input[name="name"] {
    color: var(--background-color);
    font-family: var(--h2-font);
    font-size: 32px;
    border: 2px groove var(--light-border-color);
    background: rgba(255, 255, 255, 0.2);
  }

  select {
    font-family: var(--item-font);
    border: 2px groove var(--light-border-color);
    background: rgba(255, 255, 255, 0.2);
  }

  .editor {
    border: 2px groove var(--light-border-color);
    background: rgba(255, 255, 255, 0.2);
  }
}

.sheet {
  nav.sheet-tabs {
    border-top: 2px groove var(--light-border-color);
    border-bottom: 2px groove var(--light-border-color);
  }
}

hr {
  border-top: 2px groove var(--color-border-light-primary);
  border-bottom: none;
}

#combat {
  li.combatant {
    .token-initiative .initiative {
      text-shadow: none;
    }
    .token-name {
      text-shadow: none;
    }
  }
}

#playlists .global-control .playlist-header {
  background: none;
  border-top: none;
  border-bottom: 2px groove var(--light-border-color);
}

#compendium h3 {
  color: var(--foreground-alt-color);
}

.notification-pip {
  color: var(--highlight-background-color);
}

p.nue {
  font-size: 16px;
}

h3.nue {
  border-bottom: 2px groove var(--light-border-color);
  border-top: 2px groove var(--light-border-color);
  font-weight: 600;
}

footer.nue {
  font-size: 14px;
  font-style: italic;
  color: black;
  border-top: 2px groove var(--light-border-color);
}

h3 {
  border-bottom: 0;
}

.sheet.journal-entry .journal-entry-content {
  background: url(../ui/parchment-2.jpg);
}

#playlists .playlist.flexrow .sound-control {
  color: var(--button-background);
}

.sidebar-popout {
  &.sidebar-tab.directory li.folder > .folder-header h3 {
    color: white;
  }

  a {
    color: white;
  }

  &.combat-sidebar .combat-tracker-header h3,
  &.combat-sidebar .combat-tracker-header nav.encounters h4,
  &.combat-sidebar .directory-list .directory-item h4,
  &.combat-sidebar .combat-tracker-header a.combat-button {
    color: white;
  }
}

li.folder > .folder-header {
  text-shadow: none;
}

.pirateborg#pause {
  background: none;
  bottom: 15%;
  filter: drop-shadow(10px 10px 5px #404040);

  img {
    animation: pulsate 3s infinite ease-in-out;
    opacity: 1;
    top: -96px;
    left: calc(50% - 96px);
    height: 192px;
    width: 192px;
  }
}
@keyframes pulsate {
  0% {
    filter: drop-shadow(0 0 0 rgba(255, 0, 0, 0));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(255, 0, 0, 0));
  }
}

/* Monk's Sound Enhancement overrides */
#playlists.sound-enhancement .playlist header.playlist-header,
#playlists-popout.sound-enhancement .playlist header.playlist-header {
  background: inherit;
}

/* Token HUD Status Effects Panel */
#token-hud {
  .status-effects {
    --effect-columns: 7;
    --effect-size: 32px;

    &.expanded-details {
      width: unset;
      grid-template-columns: repeat(4, 130px);
      line-height: var(--effect-size);
    }
  }

  .status-effect-container {
    cursor: pointer;
    position: relative;
    padding: 1px;

    .status-effect-control {
      width: 100%;
      height: var(--effect-size);
      margin: 0;
      margin-top: -1px;
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 0;
      opacity: 0.5;
      padding-right: calc(100% - var(--effect-size));
    }

    .status-effect-title {
      vertical-align: top;
      padding-left: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - var(--effect-size));
      display: inline-block;
      pointer-events: none;
      position: absolute;
      top: 0px;
      left: var(--effect-size);
      opacity: 0.6;
    }
  }
}
