.pirateborg {
  .items-list .items-header {
    margin: 0;
    padding: 0 0 4px 0;
    align-items: center;

    .item-name {
      font-family: var(--h2-font);
      font-size: 20px;
      text-transform: capitalize;
      margin: 0;
    }
  }

  .items-list {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }

  .item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    .item {
      min-height: 30px;
      line-height: 24px;
      padding: 8px;
      border-bottom: 2px groove var(--light-border-color);
      align-items: center;
      gap: 8px;

      &:first-of-type {
        border-top: 2px groove var(--light-border-color);
      }

      img {
        flex: 0 0 24px;
        background: black;
        padding: 2px;
        border-radius: 4px;
      }

      &.item-container-item {
        padding-left: 29px;
      }
    }

    .item-name {
      margin: 0;
      font-family: var(--item-font);
      font-size: 12pt;
    }

    .item-fields {
      font-family: var(--item-font);
      font-size: 12pt;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 10px;
      flex: 2;
    }

    .item-field {
    }

    .item-buttons {
      align-items: right;
      display: flex;
      flex: 0 0 102px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      button {
        width: 100%;
      }
    }

    .item-controls {
      flex: 0 0 100px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      .item-control {
        width: 17px;
        margin-left: 3px;
        text-align: center;
      }
    }

    .item-button {
    }

    .equipped {
      color: var(--foreground-color);
    }

    .unequipped {
      color: gray;
    }

    .empty-container {
      text-align: center;
    }
  }
}
