.pirateborg {
  .items-list .items-header {
    margin: 0;
    padding: 0;
    align-items: center;

    .item-name {
      font-family: var(--h2-font);
      font-size: 18px;
      text-transform: capitalize;
      margin: 0;
    }
  }

  .items-list {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }

  .items-list:last-of-type {
    margin: 0;
  }

  .item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    .item {
      min-height: 30px;
      line-height: 24px;
      padding: 8px;
      border-bottom: 2px groove var(--light-border-color);
      align-items: center;
      gap: 8px;

      &:first-of-type {
        border-top: 2px groove var(--light-border-color);
      }

      img {
        flex: 0 0 24px;
        background: black;
        padding: 2px;
        border-radius: 4px;
        height: 24px;
      }

      &.item-container-item {
        padding-left: 29px;
      }
    }

    .item-name {
      margin: 0;
      font-family: var(--item-font);
      font-size: 12pt;
    }

    .item-fields {
      font-family: var(--item-font);
      font-size: 12pt;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 10px;
      flex: 2;
    }

    .item-buttons {
      align-items: center;
      display: flex;
      flex: 0 0 0;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 4px;

      button {
        min-width: 100px;
      }
    }

    .item-controls {
      flex: 0 0 0;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      .item-control {
        width: 17px;
        margin-left: 3px;
        text-align: center;
      }
    }

    .item-button {
    }

    .equipped {
      color: var(--foreground-color);
    }

    .unequipped {
      color: gray;
    }

    .empty-container {
      text-align: center;
    }
  }

  /* Effect duration styling */
  .effect-duration-header {
    flex: 0 0 60px;
    text-align: center;
  }

  .effect-duration {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: var(--item-font);
    font-size: 12pt;

    i.fa-clock {
      color: var(--highlight-background-color);
    }
  }

  .effect-modifier {
    font-size: 10pt;
    color: var(--highlight-background-color);
  }
}
