// Fixes for Dice Tray dialog
.window-app {
  .window-content {
    textarea {
      &:hover {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
        outline: none;
      }
    }
  }
}

.dice-tray {
  button {
    background: var(--button-background) !important;
    color: var(--button-color) !important;
    font-family: var(--button-font) !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  button:hover {
    color: var(--highlight-background-color) !important;
    border-color: var(--highlight-background-color) !important;
    svg * {
      fill: var(--highlight-background-color) !important;
    }
  }

  input[type="text"] {
    color: var(--foreground-color) !important;
  }
}

button.dice-calculator--button {
  color: var(--foreground-color) !important;
}

#settings {
  padding: 0 !important;
  button {
    padding: 0 16px !important;
    margin: 4px 0 !important;
  }
}
