// Fixes for Dice Tray dialog
#dice-config {
  min-width: 850px;
}

.window-app {
  .window-content {
    textarea {
      &:hover {
        box-shadow: 0 0 10px var(--highlight-background-color);
      }
      &:focus {
        box-shadow: 0 0 10px var(--highlight-background-color);
        outline: none;
      }
    }
  }
}

.dice-tray {
  button {
    background: var(--button-background) !important;
    color: var(--button-color) !important;
    font-family: var(--button-font) !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  button:hover {
    color: var(--highlight-background-color) !important;
    border-color: var(--highlight-background-color) !important;
    svg * {
      fill: var(--highlight-background-color) !important;
    }
  }

  input[type="text"] {
    color: var(--foreground-color) !important;
  }
}

button.dice-calculator--button {
  color: var(--foreground-color) !important;
}

// Fixes for universal import
.sidebar-tab .action-buttons button.import-dd {
  margin: 8px !important;
  width: calc(100% - 16px);
}

// Fixes for tidy ui
#client-settings {
  #config-tabs div.tab[data-tab="modules"] #searchField {
    border: none;
  }

  #config-tabs div.tab[data-tab="modules"] #searchField #searchInput {
    color: var(--foreground-color);
    border: 2px groove var(--light-border-color);
    background: rgba(255, 255, 255, 0.2);
  }
  #config-tabs div.tab[data-tab="modules"] #searchField #clear {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }
  min-height: auto !important;
  height: auto !important;
  &.window-app .window-content {
    padding: 8px !important;
  }
  section.content .settings-list {
    max-height: none !important;
    border: none !important;
    padding: 0 !important;
  }
}

#module-management {
  min-height: auto !important;
  height: auto !important;
}
