/* ====================== */
/* Roll Cards */
/* ====================== */

.roll-card {

  .card-title {
    background: url(/systems/pirateborg/ui/parchment-2.jpg);
    color: var(--background-color);
    font-family: var(--h2-font);
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  .item-row {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border: none;
      border-radius: 0;
      margin-right: 8px;
    }

    span.item-name {
      color: var(--foreground-color);
      font-family: var(--item-font);
      font-size: 20px;
      font-weight: 600;
    }
  }

  .roll-title {
    font-family: var(--chat-font);
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 16px;
    &.getting-better {
      margin-bottom: 0px;
    }
  }

  .roll-result {
    font-family: var(--chat-font);
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    background-color: #111;

    span {
      color: var(--foreground-color);
      font-size: 20px;
    }
  }

  .outcome-text {
    font-family: var(--h3-font);
    font-size: 24px;
    margin: 8px;
    margin-top: 0;  
    text-align: center;
    line-height: 28px;
  }

  .reaction-text {
    font-family: var(--h3-font);
    font-size: 28px;
    text-align: center;
  }

  .outcome-text {
    .getting-better {
      display: block;
    }
  }
}

.dr-modifier {
  margin-bottom: 5px;
  text-align: center;
}
