/* ====================== */
/* Roll Cards */
/* ====================== */

.roll-card {
  .card-title {
    background: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
    font-family: var(--chat-card-header-font);
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    padding-top: 4px;
    line-height: 28px;
  }

  .dr-modifiers {
    margin-bottom: 16px;
  }

  .item-row {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border: none;
      border-radius: 4px;
      margin-right: 8px;
      padding: 2px;
      background-color: var(--icon-backgroud-color);
    }

    span.item-name {
      color: var(--foreground-color);
      font-family: var(--item-font);
    }
  }

  .roll-title {
    font-family: var(--chat-font);
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
  }

  .card-description {
    font-family: var(--chat-font);
    font-size: 16px;
    text-align: center;
    margin: 24px 0;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .roll-result {
    font-family: var(--chat-font);
    font-size: 18px;
    text-align: center;
    background-color: var(--button-background);
    line-height: 24px;
    padding-bottom: 2px;
    span {
      color: var(--button-color);
      font-size: 20px;
    }
  }

  .outcome-text {
    font-family: var(--chat-font);
    font-size: 24px;
    margin: 0;
    text-align: center;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 4px;

    p {
      margin: 0;
    }
    .attack-outcome {
      font-style: italic;
    }
  }

  .outcome-text:last-of-type {
    margin-bottom: 0;
  }

  .reaction-text {
    font-family: var(--h3-font);
    font-size: 28px;
    text-align: center;
  }

  .outcome-text {
    .getting-better {
      display: block;
    }
  }

  .outcome-action {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 16px 0;

    button {
      width: 100%;
    }
  }
  > *:last-of-type {
    margin-bottom: 0;
  }
}

.dr-modifier {
  margin-bottom: 5px;
  text-align: center;
}
