.pirateborg {
  &.sheet {
    .window-content {
      overflow-y: hidden;
      padding: 0;

      /* inherited background is parchment img bg */
      background: var(--window-background);
      font-size: 13px;
      color: var(--foreground-color);
      border: none;

      form {
        height: 100%;
        overflow: hidden;
      }
    }

    margin-top: 0;

    .editable .rollable:hover {
      text-shadow: 0 0 16px var(--highlight-background-color);
      cursor: pointer;
    }

    input {
      &[type="text"],
      &[type="number"],
      &[type="password"],
      &[type="date"] {
        color: var(--foreground-color);
        border-radius: 0;
      }

      &[type="text"]:focus,
      &[type="number"]:focus,
      &[type="password"]:focus,
      &[type="date"]:focus,
      &[type="time"]:focus,
      &[type="text"]:hover,
      &[type="number"]:hover,
      &[type="password"]:hover,
      &[type="date"]:hover,
      &[type="time"]:hover {
        box-shadow: 0 0 5px var(--highlight-background-color);
      }
    }

    select:focus {
      box-shadow: 0 0 5px var(--highlight-background-color);
    }

    button {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px var(--highlight-background-color);
      }
    }

    a:hover {
      text-shadow: 0 0 8px var(--highlight-background-color);
    }

    textarea {
      border: 1px solid var(--light-border-color);
      border-radius: 0;
      color: var(--foreground-color);
      font-family: var(--item-font);
      font-size: 14px;
      resize: none;

      &:hover {
        box-shadow: 0 0 5px var(--highlight-background-color);
      }

      &:focus {
        box-shadow: 0 0 5px var(--highlight-background-color);
        outline: none;
      }
    }

    .profile-img {
      border: none;
    }

    .editor {
      border: 2px groove var(--light-border-color);
      color: var(--foreground-color);
      font-family: var(--item-font);
      font-size: 16px;
      line-height: 20px;
    }

    .sheet-tabs {
      flex: none;
      font-size: 20px;
      border-top: none;
      border-bottom: none;
      padding: 0;
      margin: 0px;

      .spacer {
        border-bottom: 1px solid var(--dark-border-color);
        display: block;
        padding-left: 16px;
      }

      .item {
        font-family: var(--h2-font);
        font-size: 22px;
        height: 36px;
        line-height: 38px;
        width: 100%;
        white-space: nowrap;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--dark-border-color);

        &:hover {
          text-shadow: 0 0 16px var(--highlight-background-color);
        }

        &.active {
          text-shadow: none;
          border: 1px solid var(--dark-border-color);
          border-bottom: 0;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          background: rgba(255, 255, 255, 0.2);
          border-bottom: 0;
        }
      }
    }
  }

  .sheet-body {
    overflow: hidden;

    .tab {
      height: 100%;
      overflow-y: auto;
      padding: 16px 16px 16px 16px;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &.sheet {
    .sheet-body .form-group {
      margin-bottom: 8px;

      label {
        font-family: var(--h2-font);
        font-size: 20px;
        text-align: right;
        margin-right: 10px;
      }

      input,
      select {
        font-family: var(--item-font);
        font-size: 14pt;
      }

      &.special {
        flex: 1;
      }
    }
  }
}
