.pirateborg {
  &.sheet {
    margin-top: 0;

    .window-content {
      overflow-y: hidden;
      padding: 0;

      /* inherited background is parchment img bg */
      background: var(--window-background);
      font-size: 13px;
      color: var(--foreground-color);
      border: none;

      .sheet-header {
        margin: 16px;
        display: flex;
        flex-direction: row;
        flex: none;
        align-items: flex-start;
        gap: 16px;

        .header-col1 {
          flex: 0 0 100px;
          padding: 0;
          line-height: 0;

          .profile-img {
            height: 100px;
            width: 100px;
            border-radius: 24px;
            border: none;
            object-fit: contain;
          }
        }

        .header-col2 {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 4px;

          .header-title-row,
          .item-name,
          .name-row {
            margin-left: -4px;

            input {
              font-family: var(--h1-font);
              font-size: 32px;
              border: none;
              height: 32px;
            }
          }

          .header-subtitle-row {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-wrap: nowrap;
            font-family: var(--h3-font);
            font-size: 16px;
            white-space: nowrap;
            text-transform: capitalize;
            margin-bottom: 8px;
          }

          .header-buttons-row {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 4px;
            button {
              width: auto;
            }
          }

          .header-stats-row {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }

        .header-col3 {
          flex: 0 0 0;
          display: flex;
          flex-direction: column;
          gap: 8px;

          .ability-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:last-child {
              margin-bottom: 0;
            }
          }

          .ability-label {
            font-family: var(--item-font);
            font-size: 16px;
            margin-left: 5px;
            display: block;
            padding-top: 2px;
          }

          .ability-input {
            border: none;
            font-family: var(--item-font);
            font-size: 24px;
            text-align: center;
            width: 32px;
            height: 24px;
            border-radius: 0;
            color: var(--foreground-color);
            font-weight: 600;
            padding-bottom: 4px;
            border-radius: 4px;
            text-align: right;
          }
        }
      }

      .equipment-tab .item-list .item-controls {
        flex: 0 0 70px;
      }

      .stats-block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        line-height: 20px;

        .stat-label {
          font-family: var(--item-font);
          font-size: 16px;
        }

        .stat-value {
          font-family: var(--item-font);
          font-size: 24px;
          font-weight: 600;
          padding-bottom: 4px;
          text-align: center;
        }

        .stat-rule {
          font-family: var(--item-font);
          font-size: 14px;
          line-height: 20px;
        }

        input {
          border: none;
          font-family: var(--item-font);
          text-align: center;
          color: var(--foreground-color);
          background: transparent;
          font-size: 24px;
          width: 32px;
          height: 24px;
          font-weight: 600;
          padding: 0;
          padding-bottom: 4px;
          border-radius: 4px;
        }

        .stat-left {
          text-align: left;
        }
        .stat-right {
          text-align: right;
        }

        .stat-separator {
          font-size: 18px;
        }
      }

      form {
        height: 100%;
        overflow: hidden;

        .sheet-body {
          overflow: hidden;
          font-family: var(--item-font);

          .tab {
            height: 100%;
            border-radius: 0;
          }
          .tab:only-of-type {
            border-top: 2px groove var(--light-border-color);
          }
        }

        .sheet-tabs {
          .spacer {
            border-bottom: 1px solid var(--dark-border-color);
            display: block;
            padding-left: 16px;
          }
        }
      }
    }

    .editable .rollable:hover {
      text-shadow: 0 0 16px var(--highlight-background-color);
      cursor: pointer;
    }

    input {
      &[type="text"],
      &[type="number"],
      &[type="password"],
      &[type="date"] {
        color: var(--foreground-color);
        border-radius: 0;
      }

      &[type="text"]:focus,
      &[type="number"]:focus,
      &[type="password"]:focus,
      &[type="date"]:focus,
      &[type="time"]:focus,
      &[type="text"]:hover,
      &[type="number"]:hover,
      &[type="password"]:hover,
      &[type="date"]:hover,
      &[type="time"]:hover {
        box-shadow: 0 0 5px var(--highlight-background-color);
      }
    }

    select:focus {
      box-shadow: 0 0 5px var(--highlight-background-color);
    }

    button {
      &:hover,
      &:focus {
        box-shadow: 0 0 5px var(--highlight-background-color);
      }
    }

    a:hover {
      text-shadow: 0 0 8px var(--highlight-background-color);
    }

    textarea {
      border: 2px groove var(--light-border-color);
      background: rgba(255, 255, 255, 0.2);
      color: var(--foreground-color);
      font-family: var(--item-font);
      font-size: 14px;
      resize: none;

      &:hover {
        box-shadow: 0 0 5px var(--highlight-background-color);
      }

      &:focus {
        box-shadow: 0 0 5px var(--highlight-background-color);
        outline: none;
      }
    }

    .editor {
      border: 2px groove var(--light-border-color);
      background: rgba(255, 255, 255, 0.2);
      color: var(--foreground-color);
      font-family: var(--item-font);
      font-size: 16px;
      line-height: 20px;
    }

    .sheet-body .form-group {
      margin-bottom: 8px;

      label {
        text-align: right;
        margin-right: 10px;
      }

      input,
      select {
        font-family: var(--item-font);
        font-size: 14pt;
      }

      &.special {
        flex: 1;
      }
    }
  }
}
