<form class="flexcol {{cssClass}}" autocomplete="off">
  {{! Item Sheet Header }}
  <header class="sheet-header flexrow">
    <div class="header-col1">
      <img class="profile-img" src="{{data.img}}" title="{{data.name}}" data-edit="img" />
    </div>
    <div class="header-col2">
      <div class="header-title-row">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'PB.ItemName'}}" />
      </div>
      <div class="header-subtitle-row">
        <span class="item-type">{{data.type}} {{#if data.system.tier.max}} - {{localize (lookup (lookup config.armorTiers data.system.tier.max) 'key') }}{{/if}}</span>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="description">{{localize "PB.TabDescription"}}</a>
    <a class="item" data-tab="details">{{localize "PB.TabDetails"}}</a>
    <a class="item" data-tab="effects">{{ localize "PB.TabEffects" }}</a>
    <span class="spacer"></span>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/pirateborg/templates/common/editor.html" enrichedContent=descriptionHTML sourceContent=descriptionSource documentUuid=documentUuid target="system.description" editable=editable owner=owner editingDescription=editingDescription}}
    </div>

    {{! Details Tab }}
    <div class="tab" data-group="primary" data-tab="details">
      {{! Price }}
      <div class="form-group">
        <label>{{localize "PB.ItemPrice"}}:</label>
        <input type="text" name="system.price" value="{{data.system.price}}" placeholder="2" data-dtype="Number" />
      </div>

      {{! Carry weight }}
      <div class="form-group">
        <label>{{localize "PB.CarryWeight"}}:</label>
        <input type="text" name="system.carryWeight" value="{{data.system.carryWeight}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Container space }}
      <div class="form-group">
        <label>{{localize "PB.ContainerSpace"}}:</label>
        <input type="text" name="system.containerSpace" value="{{data.system.containerSpace}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Armor Current Tier }}
      <div class="form-group">
        <label>{{localize "PB.ArmorCurrentTier"}}:</label>
        <select name="system.tier.value" data-dtype="Number">
          {{selectOptions config.armorTiers selected=data.system.tier.value labelAttr="key" localize=true}}
        </select>
      </div>

      {{! Armor Max Tier }}
      <div class="form-group">
        <label>{{localize "PB.ArmorMaxTier"}}:</label>
        <select name="system.tier.max" data-dtype="Number">
          {{selectOptions config.armorTiers selected=data.system.tier.max labelAttr="key" localize=true}}
        </select>
      </div>
    </div>

    {{! Effects }}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> systems/pirateborg/templates/item/tab/effects.html}}
    </div>
  </section>
</form>
