<form class="flexcol {{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header flexrow">
    <div class="header-col1">
      <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
    </div>
    <div class="header-col2">
      <div class="header-title-row">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'PB.ItemName'}}" />
      </div>
      <div class="header-subtitle-row">
        <span class="item-type">{{item.type}}</span>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="description">{{localize "PB.TabDescription"}}</a>
    <a class="item" data-tab="details">{{localize "PB.TabDetails"}}</a>
    <span class="spacer"></span>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=item.data.description target="data.description" button=true owner=owner editable=true}}
    </div>

    {{! Details Tab }}
    <div class="tab" data-group="primary" data-tab="details">
      {{! Price }}
      <div class="form-group">
        <label>{{localize "PB.ItemPrice"}}:</label>
        <input type="text" name="data.price" value="{{item.data.price}}" placeholder="2" data-dtype="Number" />
      </div>

      {{! Carry weight }}
      <div class="form-group">
        <label>{{localize "PB.CarryWeight"}}:</label>
        <input type="text" name="data.carryWeight" value="{{item.data.carryWeight}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Capacity }}
      <div class="form-group">
        <label>{{localize "PB.ItemCapacity"}}:</label>
        <input type="text" name="data.capacity" value="{{item.data.capacity}}" placeholder="1d4" data-dtype="Number" />
      </div>
    </div>
  </section>
</form>
