<form class="flexcol {{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header flexrow">
    <div class="header-col1">
      <img class="profile-img" src="{{data.img}}" title="{{data.name}}" data-edit="img" />
    </div>
    <div class="header-col2">
      <div class="header-title-row">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'PB.ItemName'}}" />
      </div>
      <div class="header-subtitle-row">
        <span class="item-type">{{data.type}}</span>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="description">{{localize "PB.TabDescription"}}</a>
    <a class="item" data-tab="details">{{localize "PB.TabDetails"}}</a>
      <a class="item" data-tab="effects">Effects</a>
    <span class="spacer"></span>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{wysiwig content=data.system.description target="system.description" button=true owner=owner editable=true}}
    </div>

    {{! Details Tab }}
    <div class="tab" data-group="primary" data-tab="details">
      {{! Price }}
      <div class="form-group">
        <label>{{localize "PB.ItemPrice"}}:</label>
        <input type="text" name="system.price" value="{{data.system.price}}" placeholder="2" data-dtype="Number" />
      </div>

      {{! Carry weight }}
      <div class="form-group">
        <label>{{localize "PB.CarryWeight"}}:</label>
        <input type="text" name="system.carryWeight" value="{{data.system.carryWeight}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Container space }}
      <div class="form-group">
        <label>{{localize "PB.ContainerSpace"}}:</label>
        <input type="text" name="system.containerSpace" value="{{data.system.containerSpace}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Quantity }}
      <div class="form-group">
        <label>{{localize "PB.Quantity"}}:</label>
        <input type="text" name="system.quantity" value="{{data.system.quantity}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Action Macro }}
      <div class="form-group">
        <label>{{localize "PB.ActionMacro"}}:</label>
        <input type="text" name="system.actionMacro" value="{{data.system.actionMacro}}" placeholder="compendium;macro" data-dtype="String" />
      </div>

      {{! Action Macro Label }}
      <div class="form-group">
        <label>{{localize "PB.ActionMacroLabel"}}:</label>
        <input type="text" name="system.actionMacroLabel" value="{{data.system.actionMacroLabel}}" placeholder="Use" data-dtype="String" />
      </div>
    </div>  
        <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/pirateborg/templates/item/tab/effects.html}}
    </div>
  </section>
</form>
