<form class="flexcol {{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header flexrow">
    <div class="header-col1">
      <img class="profile-img" src="{{data.img}}" title="{{data.name}}" data-edit="img" />
    </div>
    <div class="header-col2">
      <div class="header-title-row">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'PB.ItemName'}}" />
      </div>
      <div class="header-subtitle-row">
        <span class="item-type">{{data.type}} {{#if data.system.weaponType}} - {{localize data.system.weaponType}}{{/if}}</span>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <span class="spacer"></span>
    <a class="item" data-tab="description">{{localize "PB.TabDescription"}}</a>
    <a class="item" data-tab="details">{{localize "PB.TabDetails"}}</a>
      <a class="item" data-tab="effects">Effects</a>
    <span class="spacer"></span>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{wysiwig content=data.system.description target="system.description" button=true owner=owner editable=true}}
    </div>

    {{! Details Tab }}
    <div class="tab" data-group="primary" data-tab="details">
      {{! Price }}
      <div class="form-group">
        <label for="price">{{localize "PB.ItemPrice"}}:</label>
        <input type="text" id="price" name="system.price" value="{{data.system.price}}" placeholder="2" data-dtype="Number" />
      </div>

      {{! Carry weight }}
      <div class="form-group">
        <label for="carry-weight">{{localize "PB.CarryWeight"}}:</label>
        <input type="text" id="carry-weight" name="system.carryWeight" value="{{data.system.carryWeight}}" placeholder="1" data-dtype="Number" />
      </div>

      {{! Container space }}
      <div class="form-group">
        <label for="container-space">{{localize "PB.ContainerSpace"}}:</label>
        <input type="text" id="container-space" name="system.containerSpace" value="{{data.system.containerSpace}}" placeholder="1" data-dtype="Number" />
      </div>

      <br />

      {{! Weapon Type }}
      <div class="form-group">
        <label for="weapon-type">{{localize "PB.ItemWeaponType"}}:</label>
        <select id="weapon-type" name="system.weaponType">
          {{#select data.system.weaponType}} {{#each config.weaponTypes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>

      {{! Damage Die }}
      <div class="form-group">
        <label for="damage-die">{{localize "PB.ItemDamageDie"}}:</label>
        <input type="text" id="damage-die" name="system.damageDie" value="{{data.system.damageDie}}" placeholder="1d4" data-dtype="String" />
      </div>

      {{! Handed }}
      <div class="form-group">
        <label for="handed">{{localize "PB.ItemHanded"}}:</label>
        <select id="handed" name="system.handed">
          {{#select data.system.handed}} {{#each config.handed as |name value|}}
          <option value="{{value}}">{{localize name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label for="is-gunpowder-weapon">{{localize "PB.ItemIsGunpowderWeapon"}}:</label>
        <input type="checkbox" id="is-gunpowder-weapon" name="system.isGunpowderWeapon" {{checked data.system.isGunpowderWeapon}} data-dtype="Boolean" />
      </div>

      <br />

      {{! Uses ammo }}
      <div class="form-group">
        <label for="uses-ammo">{{localize "PB.ItemUsesAmmo"}}:</label>
        <input type="checkbox" id="uses-ammo" name="system.usesAmmo" {{checked data.system.usesAmmo}} data-dtype="Boolean" />
      </div>

      <div class="form-group">
        <label for="use-ammo-damage">{{localize "PB.ItemUseAmmoDamage"}}:</label>
        <input type="checkbox" id="use-ammo-damage" name="system.useAmmoDamage" {{checked data.system.useAmmoDamage}} data-dtype="Boolean" />
      </div>

      <div class="form-group">
        <label for="needs-reloading">{{localize "PB.ItemNeedsReloading"}}:</label>
        <input type="checkbox" id="needs-reloading" name="system.needsReloading" {{checked data.system.needsReloading}} data-dtype="Boolean" />
      </div>
      {{#if data.system.needsReloading}}
      <div class="form-group">
        <label for="reload-time" title="{{localize 'PB.ItemReloadTimeHelp'}}">{{localize "PB.ItemReloadTime"}}:</label>
        <input type="text" id="reload-time" name="system.reloadTime" value="{{data.system.reloadTime}}" placeholder="0" data-dtype="Number" />
      </div>
      {{/if}}

      <br />

      <div class="form-group">
        <label for="crit-on">{{localize "PB.ItemCritOn"}}:</label>
        <input type="text" id="crit-on" name="system.critOn" value="{{data.system.critOn}}" placeholder="20" data-dtype="Number" />
      </div>

      {{! Crit Extra Damage Die }}
      <div class="form-group">
        <label for="crit-extra-damage">{{localize "PB.ItemCritExtraDamageFormula"}}:</label>
        <input type="text" id="crit-extra-damage" name="system.critExtraDamage" value="{{data.system.critExtraDamage}}" placeholder="1d4" data-dtype="String" />
      </div>

      <div class="form-group">
        <label for="fumble-on">{{localize "PB.ItemFumbleOn"}}:</label>
        <input type="text" id="fumble-on" name="system.fumbleOn" value="{{data.system.fumbleOn}}" placeholder="1" data-dtype="Number" />
      </div>
    </div>
        <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/pirateborg/templates/item/tab/effects.html}}
    </div>
  </section>
</form>
