# Based on the workflows of:
# https://github.com/League-of-Foundry-Developers/FoundryVTT-Module-Template and
# https://github.com/pwatson100/alienrpg
name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Substitute the Manifest and Download URLs in the system.json
      - name: Substitute Manifest and Download Links For Versioned Ones
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          MANIFEST_URL="https://github.com/${{ github.repository }}/releases/download/${VERSION}/system.json"
          DOWNLOAD_URL="https://github.com/${{ github.repository }}/releases/download/${VERSION}/system.zip"

          jq --arg version "$VERSION" \
             --arg manifest "$MANIFEST_URL" \
             --arg download "$DOWNLOAD_URL" \
             '.version = $version | .manifest = $manifest | .download = $download' \
             system.json > system.json.tmp && mv system.json.tmp system.json

      # Create a zip file with all files required by the system to add to the release
      - run: zip -r ./system.zip CHANGELOG.md  LICENSE.MB3PL LICENSE.MIT how-to-use-this-system.md README.md system.json template.json css/ fonts/ icons/ lang/ module/ packs/ templates/ tokens/ ui/

      # Create a release for this specific version
      - name: Update Release with Files
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true # Set this to false if you want to prevent updating existing releases
          name: ${{ github.event.release.name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "./system.json, ./system.zip"
          tag: ${{ github.event.release.tag_name }}
          body: ${{ github.event.release.body }}
